
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/historical-hc0038.jpg", :alt => "The College Building (now Benton Hall), 1890" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70cn609" %>
                    <figcaption><%= link_to "The College Building (now Benton Hall), 1890", "/sets/#{params[:set]}/oregondigital:df70cn609" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/historical-hc0951.jpg", :alt => "Students in a short course on tractors offered by the Extension Service, ca. 1915" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70c667j" %>
                    <figcaption><%= link_to "Students in a short course on tractors offered by the Extension Service, ca. 1915", "/sets/#{params[:set]}/oregondigital:df70c667j" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/historical-hc1578.jpg", :alt => "Linus Pauling receiving an honorary doctorate from his alma mater, 1933" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70c329h" %>
                    <figcaption><%= link_to "Linus Pauling receiving an honorary doctorate from his alma mater, 1933", "/sets/#{params[:set]}/oregondigital:df70c329h" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/historical-p1-60.jpg", :alt => "President George W. Peavy, 1935" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70c7745" %>
                    <figcaption><%= link_to "President George W. Peavy", "/sets/#{params[:set]}/oregondigital:df70c7745" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/historical-hc0492.jpg", :alt => "First graduation at Gill Coliseum, 1950" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70c471q" %>
                    <figcaption><%= link_to "First graduation at Gill Coliseum, 1950", "/sets/#{params[:set]}/oregondigital:df70c471q" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/historical-p57-5270.jpg", :alt => "Black Cultural Center Opening, 1975" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70c338g" %>
                    <figcaption><%= link_to "Black Cultural Center Opening, 1975", "/sets/#{params[:set]}/oregondigital:df70c338g" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>The Historical Images of Oregon State University repository contains a vast array of OSU related photographs drawn from the more than 600,000 photographs held in the collections of the OSU Libraries' Special Collections and Archives Research Center. Included are iconic images and not so well known images. Almost everything OSU can be found here, from images of the first Corvallis College building in the late 1860s to recent images of buildings, academics, students, research and athletics. New images are continuously being added.</p>
<p>Major archival collections represented here are Harriet's Collection, News and Research Communications Photographs (P 57), <em>Oregon Stater</em> Photograph Collection (P 195), <em>Beaver Yearbook</em> Photographs (P 3), Alumni Relations Photographs (P 17), Gwil Evans Photographic Collection (P 82), the Buildings Photographic Collection (P 16) and the Oregon State University Historical Photographs (P 25).</p>




