
  <!-- Description -->
    <div class="left-image span4">

      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df717p48p.jpg", :alt => "Epilachna varivestis (Mexican bean beetle)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df717p48p" %> 
              <figcaption><%= link_to "Epilachna varivestis (Mexican bean beetle)", "/sets/#{params[:set]}/oregondigital:df717p48p" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df717n09s.jpg", :alt => "Dichomeris marginella (Juniper webworm)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df717n09s" %> 
              <figcaption><%= link_to "Dichomeris marginella (Juniper webworm)", "/sets/#{params[:set]}/oregondigital:df717n09s" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df717t434.jpg", :alt => "Latrodectus mactans (Black widow spider)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df717t434" %> 
              <figcaption><%= link_to "Latrodectus mactans (Black widow spider)", "/sets/#{params[:set]}/oregondigital:df717t434" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df717w364.jpg", :alt => "Macrosiphum rosae (Rose aphid)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df717w364" %> 
              <figcaption><%= link_to "Macrosiphum rosae (Rose aphid)", "/sets/#{params[:set]}/oregondigital:df717w364" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df718350c.jpg", :alt => "Pleocoma simi (Rain beetle)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df718350c" %> 
              <figcaption><%= link_to "Pleocoma simi (Rain beetle)", "/sets/#{params[:set]}/oregondigital:df718350c" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df718569h.jpg", :alt => "Rhagoletis completa (Walnut husk fly)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df718569h" %> 
              <figcaption><%= link_to "Rhagoletis completa (Walnut husk fly)", "/sets/#{params[:set]}/oregondigital:df718569h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df718124b.jpg", :alt => "Otobius megnini (Spinose ear tick)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df718124b" %> 
              <figcaption><%= link_to "Otobius megnini (Spinose ear tick)", "/sets/#{params[:set]}/oregondigital:df718124b" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df718630h.jpg", :alt => "Rosalia funebris (Banded alder borer)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df718630h" %> 
              <figcaption><%= link_to "Rosalia funebris (Banded alder borer)", "/sets/#{params[:set]}/oregondigital:df718630h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/df717m98g.jpg", :alt => "Diastrophus kincaidii (Thimbleberry stem gall wasp)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df717m98g" %> 
              <figcaption><%= link_to "Diastrophus kincaidii (Thimbleberry stem gall wasp)", "/sets/#{params[:set]}/oregondigital:df717m98g" %></figcaption>
            </figure>
          </li>
        </ul>

        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      </div>

    </div>

  </div>

<p>The Ken Gray Insect Image Collection consists of prints and negatives depicting various types of insects at their larval and adult stages.</p>

<p>In his capacity as a pest specialist with the Pacific Supply Cooperative of Portland, Ken Gray photographed insects as part of a project to create a library of images. Assisted by OSU entomologists in the identification of insects, Gray donated these images to the OSU Extension Service in the mid-1970s. In a project funded by the Environmental Protection Agency, the OSU Extension Service generated slides from 4300 of the Gray insect images and marketed them as aids in the certification of pesticide applicators to university entomology departments.</p>

<p>Ken Gray images can usually be identified by an index number such as "100-12" in the lower left corner. Ken Gray used Kodacolor negative film that was copied onto duplicating slide film for projection.</p>

<p>The original image collection is held at OSU in the <a href="http://scarc.library.oregonstate.edu/findingaids/index.php?p=collections/findingaid&id=564">Special Collections and Archives Research Center</a>. About 5000 images of Ken Gray's collection have been digitized </p>

