
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1956-rooster.jpg", :alt => "Oregon's Agricultural Progress, Summer 1956" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71c6786" %>
                    <figcaption><%= link_to "Oregon's Agricultural Progress, Summer 1956", "/sets/#{params[:set]}/oregondigital:fx71c6786" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1969-shopper.jpg", :alt => "Oregon's Agricultural Progress, Winter 1969" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71c7243" %>
                    <figcaption><%= link_to "Oregon's Agricultural Progress, Winter 1969", "/sets/#{params[:set]}/oregondigital:fx71c7243" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1974-art.jpg", :alt => "Oregon's Agricultural Progress, Summer 1974" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71c739q" %>
                    <figcaption><%= link_to "Oregon's Agricultural Progress, Summer 1974", "/sets/#{params[:set]}/oregondigital:fx71c739q" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1976-flower.jpg", :alt => "Oregon's Agricultural Progress, Spring 1976" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71c734b" %>
                    <figcaption><%= link_to "Oregon's Agricultural Progress, Spring 1976", "/sets/#{params[:set]}/oregondigital:fx71c734b" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1983-ag-man.jpg", :alt => "Oregon's Agricultural Progress, Fall 1983" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71c7528" %>
                    <figcaption><%= link_to "Oregon's Agricultural Progress, Fall 1983", "/sets/#{params[:set]}/oregondigital:fx71c7528" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1991-china.jpg", :alt => "Oregon's Agricultural Progress, Fall 1991 - Winter 1992" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71c789x" %>
                    <figcaption><%= link_to "Oregon's Agricultural Progress, Fall 1991 - Winter 1992", "/sets/#{params[:set]}/oregondigital:fx71c789x" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p><em>Oregon's Agricultural Progress</em> magazine is a report to the taxpayers of Oregon from Oregon State University's Agricultural Experiment Station demonstrating the ways in which agriculture contributes to the economy, environment, and social structure of Oregon and the worldThe print magazine was first published in 1953.</p> 
<p>The magazine explores a wide range of public issues pertaining to food systems, ecosystems, water, innovations, economics, health, and people from all regions of OregonIn addition to agricultural topics pertaining to farming and ranching in Oregon, <em>Oregon's Agricultural Progress</em> includes articles on the nursery industry and ornamental horticulture, flea prevention in pets, chemical and environmental hazards, pesticides, sport fishing, seafood and fisheries, nutrition, international agriculture, and the wine industry in OregonMore information about print and web versions of the magazine held by the Special Collections and Archives Research Center is available in this <a href="http://scarc.library.oregonstate.edu/findingaids/index.php?p=collections/findingaid&id=2907">this finding aid</a>.</p>




