
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/andrews1.jpg", :alt => "Seven students from the Faun Creek School" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66zj11d" %>
              <figcaption><%= link_to "Seven Students from the Faun Creek School", "/sets/#{params[:set]}/oregondigital:df66zj11d" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/andrews2.jpg", :alt => "An indoor portrait of two schoolgirls eating lunch" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66zj25r" %>
              <figcaption><%= link_to "Schoolgirl Whispers", "/sets/#{params[:set]}/oregondigital:df66zj25r" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/andrews3.jpg", :alt => "Students in a science laboratory at the University of Oregon." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66zj47s" %>
              <figcaption><%= link_to "Science Laboratory", "/sets/#{params[:set]}/oregondigital:df66zj47s" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/andrews4.jpg", :alt => "A woman stands on the trunk of a cut tree as she takes a picture." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66zj59k" %>
              <figcaption><%= link_to "Woman on Tree Trunk", "/sets/#{params[:set]}/oregondigital:df66zj59k" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
      
    </div>

    <p>Roy C. Andrews was a school teacher and administrator in Michigan, Texas, Arkansas, Washington and Oregon. He was a chemistry instructor at the University of Oregon from 1935 until his retirement in 1950. Andrews is noted for his photographs of one-room schoolhouses in southern Lane County, 1911&ndash;1913.</p>

    <p>The collection was donated by Andrews' sisters, Martha Belknap and Dorothy Brown, in March 1955.</p>

    <p>Contextual information available through the <a href="http://nwda.orbiscascade.org/ark:/80444/xv11976">Guide to the Roy C. Andrews Papers</a>.</p>
