
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92gp058.jpg", :alt => "The Little Naturalist, circa 1959" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92gp058" %>
              <figcaption><%= link_to "The Little Naturalist, circa 1959", "/sets/#{params[:set]}/oregondigital:1j92gp058" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92gn26t.jpg", :alt => "Meet Miki Takino, circa 1963" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92gn26t" %>
              <figcaption><%= link_to "Meet Miki Takino, circa 1963", "/sets/#{params[:set]}/oregondigital:1j92gn26t" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92gk475.jpg", :alt => "Hear Ye of Boston, circa 1964" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92gk475" %>
              <figcaption><%= link_to "Hear Ye of Boston, circa 1964", "/sets/#{params[:set]}/oregondigital:1j92gk475" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92gk432.jpg", :alt => "Hear Ye of Boston, circa 1964" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92gk432" %>
              <figcaption><%= link_to "Hear Ye of Boston, circa 1964", "/sets/#{params[:set]}/oregondigital:1j92gk432" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92gk95t.jpg", :alt => "The Little Naturalist, circa 1959" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92gk95t" %>
              <figcaption><%= link_to "The Little Naturalist, circa 1959", "/sets/#{params[:set]}/oregondigital:1j92gk95t" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p> Kurt Werth (1896-1983) was a German-born illustrator and author of American children's literature. The collection consists of original children's book illustrations and manuscripts, other artwork and manuscripts, personal papers, artifacts, personal and professional correspondence, and papers of his wife, Margaret Werth.</p>
<p>Funding for publishing this digital collection was provided through a grant awarded by the National Historical Publications and Records Commission (NHPRC), a division of the National Archives and Records Administration (NARA).</p>

