
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/UA142_santino_michael_20120503_005.jpg", :alt => "Jose Carlos 05" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Jose Carlos 05", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/bosch_documentary_transcript.jpg", :alt => "Selection from film transcript of testimony of Evan Bosch, a documentary by Julia Thornton" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Selection from film transcript of testimony of Evan Bosch, a documentary by Julia Thornton", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/UA142_serron_salome_20120503_002.jpg", :alt => "Seoun and Isabella bicycle riding in Oregon" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Seoun and Isabella bicycle riding in Oregon", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/UA142_aldana_rogers_licia_001.jpg", :alt => "Armando Morales' grandfather" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Armando Morales' grandfather", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>The Oregon Latino Heritage digital collection showcases materials Latino heritage collections from University of Oregon Special Collections &amp; University Archives. The foundation of the collection is from student collected and created materials as part of the <a href="http://latinoroots.uoregon.edu/our-course/">Latino Roots courses</a> taught by Professors Lynn Stephen and Gabriela Martinez.</p>

    <p>Forthcoming additions to the collection include materials from <a href="http://www.pcun.org/">PCUN: Pineros y Campesinos Unidos del Noroeste</a>.</p>

    <h3>Acknowledgements</h3>

    <p>This collection was made possible by the extraordinary efforts of Professor Lynn Stephen, Professor Gabriela Martinez and the students enrolled in the <a href="http://latinoroots.uoregon.edu/our-course/">Latino Roots course</a> at the University of Oregon.</p>
