
<!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial1.jpg", :alt => "Agate Beach " + ', ' + @set.title), '/catalog/oregondigital:k643b138p' %>
			  <figcaption><%= link_to "Agate Beach ", '/catalog/oregondigital:k643b138p' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial2.jpg", :alt => "Arch Cape to Cape Falcon" + ', ' + @set.title), '/catalog/oregondigital:5t34sj78v' %>
			  <figcaption><%= link_to "Arch Cape to Cape Falcon", '/catalog/oregondigital:5t34sj78v' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial3.jpg", :alt => "Blanco Reef" + ', ' + @set.title), '/catalog/oregondigital:gt54kn266' %>
			  <figcaption><%= link_to "Blanco Reef", '/catalog/oregondigital:gt54kn266' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial4.jpg", :alt => "Brookings/Chetco Cove" + ', ' + @set.title), '/catalog/oregondigital:bn9996998' %> 
			  <figcaption><%= link_to "Brookings/Chetco Cove", '/catalog/oregondigital:bn9996998' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial5.jpg", :alt => "Cape Falcon South" + ', ' + @set.title), '/catalog/oregondigital:b2773v92k' %> 
			  <figcaption><%= link_to "Cape Falcon South", '/catalog/oregondigital:b2773v92k' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial6.jpg", :alt => "Cape Ferrelo to Chetco Point" + ', ' + @set.title), '/catalog/oregondigital:zs25x870f' %> 
			  <figcaption><%= link_to "Cape Ferrelo to Chetco Point", '/catalog/oregondigital:zs25x870f' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial7.jpg", :alt => "Haystack Rock" + ', ' + @set.title), '/catalog/oregondigital:1g05fb91f' %> 
			  <figcaption><%= link_to "Haystack Rock", '/catalog/oregondigital:1g05fb91f' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial8.jpg", :alt => "Humbug Point/Hug Point" + ', ' + @set.title), '/catalog/oregondigital:pg15bf16r' %> 
			  <figcaption><%= link_to "Humbug Point/Hug Point", '/catalog/oregondigital:pg15bf16r' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/aerial9.jpg", :alt => "Sisters Rocks" + ', ' + @set.title), '/catalog/oregondigital:xs55mc267' %> 
			  <figcaption><%= link_to "Sisters Rocks", '/catalog/oregondigital:xs55mc267' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

	<p>In 1993, the Oregon Department of Fish and Wildlife commissioned an aerial survey of Oregon’s intertidal zone for two primary reasons: assess kelp stocks and document Snowy Plover habitat.  The infrared photos were taken at low tide and form a fairly complete mosaic of Oregon’s coast. The photographs in this collection were digitized from originals held at the <a href="http://guin.library.oregonstate.edu/">Guin Library</a>, <a href="http://hmsc.oregonstate.edu/">Hatfield Marine Science Center</a>, and are presented here with the permission of the ODFW.</p>
