
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/cruise-1931.jpg", :alt => "The Annual Cruise, 1931" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bc668" %>
                    <figcaption><%= link_to "The Annual Cruise, 1931", "/sets/#{params[:set]}/oregondigital:fx71bc668" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/cruise-1949.jpg", :alt => "The Annual Cruise, 1949" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bd35g" %>
                    <figcaption><%= link_to "The Annual Cruise, 1949", "/sets/#{params[:set]}/oregondigital:fx71bd35g" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/cruise-1955.jpg", :alt => "The Annual Cruise, 1955" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bc85g" %>
                    <figcaption><%= link_to "The Annual Cruise, 1955", "/sets/#{params[:set]}/oregondigital:fx71bc85g" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/cruise-1958.jpg", :alt => "The Annual Cruise, 1958" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bc889" %>
                    <figcaption><%= link_to "The Annual Cruise, 1958", "/sets/#{params[:set]}/oregondigital:fx71bc889" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/cruise-1962.jpg", :alt => "The Annual Cruise, 1962" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bc92w" %>
                    <figcaption><%= link_to "The Annual Cruise, 1962", "/sets/#{params[:set]}/oregondigital:fx71bc92w" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p><em>The Annual Cruise</em> was published for each academic year from 1920 through 1975 by the Forestry Club as a yearbook for Oregon State forestry students and alumni.  It includes articles on forestry topics, information about and photographs of forestry students and faculty, reports of Forestry Club activities, alumni news, and updates on current research activities. The College of Forestry published yearbooks for 1996, 1999, and 2000 during a brief revival in the late 20th century.</p>
    <p>The Forestry Club was organized in 1906, the same year that a 4-year course in forestry was first offered at Oregon Agricultural College.  The first yearbook was published in the spring of 1920 with the title <em>Forest Club Annual</em>.  In the fall of 1920, the club held a contest to find a more appropriate name.  Roger D. Healy, then a junior in forestry, suggested <em>The Annual Cruise</em> and that name was adopted.</p>




