
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/bauguess1.jpg", :alt => "Man seated at a horseshoe shaped counter at Pope's Ice Cream and Donut Shop" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66xb79n" %>
              <figcaption><%= link_to "Pope's Ice Cream and Donut Shop", "/sets/#{params[:set]}/oregondigital:df66xb79n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/bauguess2.jpg", :alt => "Man identified as Herb seated at a table at the Brass Rail tavern with a beer in his hand." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66xb67v" %>
              <figcaption><%= link_to "Brass Rail Tavern", "/sets/#{params[:set]}/oregondigital:df66xb67v" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/bauguess3.jpg", :alt => "Black and white image of Loren's Barber Shop from the street." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66xb84h" %>
              <figcaption><%= link_to "Loren's Barber Shop", "/sets/#{params[:set]}/oregondigital:df66xb84h" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Eugene Photographer John Bauguess documented downtown Eugene during a period of urban renewal in the 1970s. Of this work, Bauguess writes: &ldquo;When I photographed downtown Eugene in the Urban Renewal era of early 1970s, it was home to long-time residents and shop owners, as well as many artists who had rented vacated buildings for studios. When the buildings were torn down, most of the people were gone, never to return. Some did reappear, however, rediscovered three decades later in photographic prints I made from negatives retrieved from dusty boxes. Photographic memories of these people had aged like good wine.&rdquo;</p>
