
  <!-- Description -->
   <div class="left-image span4">

     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <div class="item active">
           <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_42_01.jpg", :alt => "Sunrise on Mt. Hood from Lost Lake" + ', ' + @set.title), '#' %>
           <div class="carousel-caption">
             <%= link_to "Sunrise on Mt. Hood from Lost Lake", '/catalog/oregondigital:0k225b07h' %>
           </div>
         </div>

         <div class="item">
           <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_38_10.jpg", :alt => "Steamer Bailey Gatzert Approaching Cascade Locks" + ', ' + @set.title), '#' %>
           <div class="carousel-caption">
             <%= link_to "Steamer Bailey Gatzert Approaching Cascade Locks", '/catalog/oregondigital:76537134t' %>
           </div>
         </div>

         <div class="item">
           <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_48_15.jpg", :alt => 'Ship aground on beach, Oregon coast' + ', ' + @set.title), '#' %>
           <div class="carousel-caption">
             <%= link_to 'Ship aground on beach, Oregon coast', '/catalog/oregondigital:r494vk17h' %>
           </div>
         </div>

         <div class="item">
           <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_28_02.jpg", :alt => "Benjamin A. Gifford with 8x10 view camera" + ', ' + @set.title), '#' %>
           <div class="carousel-caption">
             <%= link_to "Benjamin A. Gifford with 8x10 view camera", '/catalog/oregondigital:z890rt26b' %>
           </div>
         </div>

         <div class="item">
           <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_37_14.jpg", :alt => "Portrait of Peu-Peu-Mox-Mox of the Nez Perce tribe" + ', ' + @set.title), '#' %>
           <div class="carousel-caption">
             <%= link_to "Portrait of Peu-Peu-Mox-Mox of the Nez Perce tribe", '/catalog/oregondigital:1g05fb61q' %>
           </div>
         </div>

         <div class="item">
           <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_37_04.jpg", :alt => "Indian Madonna" + ', ' + @set.title), '#' %>
           <div class="carousel-caption">
             <%= link_to "Indian Madonna", '/catalog/oregondigital:r781wg05z' %>
           </div>
         </div>

         <div class="item">
           <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_49_04.jpg", :alt => "Gifford's Falls, base of Mt. Hood" + ', ' + @set.title), '#' %>
           <div class="carousel-caption">
             <%= link_to "Gifford's Falls, base of Mt. Hood", '/catalog/oregondigital:h415p9589' %>
           </div>
         </div>

         <!-- Indicators -->
       </div>
       <!-- Controls -->
       <ol class="carousel-indicators">
         <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         <li data-target="#carousel-example-generic" data-slide-to="1"></li>
         <li data-target="#carousel-example-generic" data-slide-to="2"></li>
         <li data-target="#carousel-example-generic" data-slide-to="3"></li>
         <li data-target="#carousel-example-generic" data-slide-to="4"></li>
         <li data-target="#carousel-example-generic" data-slide-to="5"></li>
         <li data-target="#carousel-example-generic" data-slide-to="6"></li>
       </ol>
       <a class="carousel-control left" href="#carousel-example-generic" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#carousel-example-generic" data-slide="next">&rsaquo;</span>
       </a>
     </div>

  </div>

<p>The Gifford Photographic Collection consists primarily of photographs taken by four Gifford Family photographers: Ralph I. Gifford; his father, Benjamin A. Gifford; his wife, Wanda Gifford; and his son, Ben L. Gifford. The collection also includes motion pictures filmed by Ralph I Gifford, some photographs for whom the photographer is not identified, images by other photographers, and documentary materials. The Gifford Family's photographic work began in about 1890, when Benjamin A. Gifford emigrated to Portland, and continued into the 1950s. The collection documents Oregon landmarks and scenic views on the Oregon coast and in the Cascade Mountains, Willamette Valley, and central and eastern Oregon; agriculture in Oregon; and Native Americans, especially of the Columbia Plateau.</p>

<p>The finding aid for this collection can be found at the Oregon State University <a href="http://scarc.library.oregonstate.edu">Special Collections &amp; Archives Research Center</a>, <a href="http://scarc.library.oregonstate.edu/coll/p218/index.html">Gifford Photographic Collection (P 218)</a>.</p>
