
  <!-- Description -->
    <div class="left-image span4">

      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_42_01.jpg", :alt => "Sunrise on Mt. Hood from Lost Lake" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:n009w2739" %> 
              <figcaption><%= link_to "Sunrise on Mt. Hood from Lost Lake", "/sets/#{params[:set]}/oregondigital:n009w2739" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_38_10.jpg", :alt => "Steamer Bailey Gatzert Approaching Cascade Locks" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1544bp54h" %> 
              <figcaption><%= link_to "Steamer Bailey Gatzert Approaching Cascade Locks", "/sets/#{params[:set]}/oregondigital:1544bp54h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_48_15.jpg", :alt => 'Ship aground on beach, Oregon coast' + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:v405s974f" %> 
              <figcaption><%= link_to 'Ship aground on beach, Oregon coast', "/sets/#{params[:set]}/oregondigital:v405s974f" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_28_02.jpg", :alt => "Benjamin A. Gifford with 8x10 view camera" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:dr26xx77t" %> 
              <figcaption><%= link_to "Benjamin A. Gifford with 8x10 view camera", "/sets/#{params[:set]}/oregondigital:dr26xx77t" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_37_14.jpg", :alt => "Portrait of Peu-Peu-Mox-Mox of the Nez Perce tribe" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:44558d659" %> 
              <figcaption><%= link_to "Portrait of Peu-Peu-Mox-Mox of the Nez Perce tribe", "/sets/#{params[:set]}/oregondigital:44558d659" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_37_04.jpg", :alt => "Indian Madonna" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:8p58pd27m" %> 
              <figcaption><%= link_to "Indian Madonna", "/sets/#{params[:set]}/oregondigital:8p58pd27m" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/P_218_SG_1_49_04.jpg", :alt => "Gifford's Falls, base of Mt. Hood" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:ng451h841" %> 
              <figcaption><%= link_to "Gifford's Falls, base of Mt. Hood", "/sets/#{params[:set]}/oregondigital:ng451h841" %></figcaption>
            </figure>
          </li>

        </ul>

        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      </div>

    </div>

  </div>

<p>The Gifford Photographic Collection consists primarily of photographs taken by four Gifford Family photographers: Ralph I. Gifford; his father, Benjamin A. Gifford; his wife, Wanda Gifford; and his son, Ben L. Gifford. The collection also includes motion pictures filmed by Ralph I Gifford, some photographs for whom the photographer is not identified, images by other photographers, and documentary materials. The Gifford Family's photographic work began in about 1890, when Benjamin A. Gifford emigrated to Portland, and continued into the 1950s. The collection documents Oregon landmarks and scenic views on the Oregon coast and in the Cascade Mountains, Willamette Valley, and central and eastern Oregon; agriculture in Oregon; and Native Americans, especially of the Columbia Plateau.</p>

<p>The finding aid for this collection can be found at the Oregon State University <a href="http://scarc.library.oregonstate.edu">Special Collections &amp; Archives Research Center</a>, <a href="http://scarc.library.oregonstate.edu/coll/p218/index.html">Gifford Photographic Collection (P 218)</a>.</p>
