
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1894hayseed.jpg", :alt => "The Hayseed 1894" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:h128nd90t" %>
              <figcaption><%= link_to "The Hayseed 1894", "/sets/#{params[:set]}/oregondigital:h128nd90t" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1909orange.jpg", :alt => "The Orange 1909" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:3484zg94r" %>
              <figcaption><%= link_to "The Orange 1909", "/sets/#{params[:set]}/oregondigital:3484zg94r" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1929beaver.jpg", :alt => "The Beaver 1929" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:ws859f848" %>
              <figcaption><%= link_to "The Beaver 1929", "/sets/#{params[:set]}/oregondigital:ws859f848" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1943beaver.jpg", :alt => "The Beaver 1943" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:79407x576" %>
              <figcaption><%= link_to "The Beaver 1943", "/sets/#{params[:set]}/oregondigital:79407x576" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1947beaver.jpg", :alt => "The Beaver 1947" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:2z10wq89b" %>
              <figcaption><%= link_to "The Beaver 1947", "/sets/#{params[:set]}/oregondigital:2z10wq89b" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1957beaver.jpg", :alt => "The Beaver 1957" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:ht24wj74h" %>
              <figcaption><%= link_to "The Beaver 1957", "/sets/#{params[:set]}/oregondigital:ht24wj74h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1973beaver.jpg", :alt => "The Beaver 1973" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:9880vr23v" %>
              <figcaption><%= link_to "The Beaver 1973", "/sets/#{params[:set]}/oregondigital:9880vr23v" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/1985beaver.jpg", :alt => "The Beaver 1985" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:w37637203" %>
              <figcaption><%= link_to "The Beaver 1985", "/sets/#{params[:set]}/oregondigital:w37637203" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/2001beaver.jpg", :alt => "The Beaver 2001" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:ft848q651" %>
              <figcaption><%= link_to "The Beaver 2001", "/sets/#{params[:set]}/oregondigital:ft848q651" %></figcaption>
            </figure>
          </li>
        </ul>

      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>The Oregon State University Yearbooks includes all the yearbooks published by the students of Oregon State University, beginning with the 1894 <em>Hayseed</em>.  Souvenir editions of the <em>Barometer</em> were published in June 1900 and June 1905.  Continuous publication of the yearbook began in 1907 with the <em>1908 Orange</em>. Ten years later, the yearbook title was changed to the <em>Beaver</em> and publication of annual volumes continued through 2014.  In addition to portrait photographs of students, the yearbooks include photographs and information about student organizations, athletics, academics, and events and activities during a given academic year.</p>

<p>For a more detailed history of the yearbooks, read <a href="<%= "/sets/#{params[:set]}/page/hayseed-orange-beaver" %>">HAYSEED – ORANGE – BEAVER: 1894 to 2014</a></p>
