<ul id="pages" class="sidenav">
  <li><a href="<%= "/sets/#{params[:set]}/page/kolars" %>">Donor: John F. Kolars</a></li>
  <li><a href="<%= "/sets/#{params[:set]}/page/laylin" %>">Donor: John G. Laylin</a></li>
  <li><a href="<%= "/sets/#{params[:set]}/page/naff" %>">Donor: Thomas Naff</a></li>
  <li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
</ul>
