
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/cora1.jpg", :alt => "The book cover of Corazón de Dixie" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Book Cover", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/cora2.jpg", :alt => "A letter to the Mexican consulate in Memphis, Tennessee" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Consulate Letter", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/cora3.jpg", :alt => "A restaurant with No Mexicans sign posted on the glass front door" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "No Mexicans Sign", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/cora4.jpg", :alt => "A census ledger reading country of origin of the individual, their mother, and their father" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Census Ledger", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>When Latino migration to the U.S. South became increasingly visible in the 1990s, observers and advocates grasped for ways to analyze &ldquo;new&rdquo; racial dramas in the absence of historical reference points. However, as <em>Corazón de Dixie: Mexicanos in the U.S. South since 1910</em> by Julie M. Weise comprehensively documents, Mexicans and Mexican Americans have a long history of migration to the U.S. South. <em>Corazón de Dixie</em> recounts the untold histories of Mexicanos&rsquo; migrations to New Orleans, Mississippi, Arkansas, Georgia, and North Carolina as far back as 1910. It follows Mexicanos into the heart of Dixie, where they navigated the Jim Crow system, cultivated community in the cotton fields, purposefully appealed for help to the Mexican government, shaped the southern conservative imagination in the wake of the civil rights movement, and embraced their own version of suburban living at the turn of the twenty-first century.</p>

    <p>Rooted in U.S. and Mexican archival research, oral history interviews, and family photographs, <em>Corazón de Dixie</em> unearths not just the facts of Mexicanos&rsquo; long-standing presence in the U.S. South but also their own expectations, strategies, and dreams. The book is published by the <a href="http://uncpress.unc.edu/browse/book_detail?title_id=3673">University of North Carolina (UNC) Press</a>, with a <a href="www.corazondedixie.org">Corazón de Dixie companion website</a> published by the <a href="http://library.uoregon.edu">University of Oregon Libraries</a> geared toward classroom use. Comprised of primary source documents cited in the book, this collection includes census records, archival documents, photographs, and articles related to Latino immigration and Mexicanos in the southern United States from 1910&ndash;2012.</p>
