
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
                  <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73b1214.jpg", :alt => "Faculty-Student Committee to Stop the War in Vietnam notebook and memos [b001] [f004] [001a]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73b1214" %>
              <figcaption><%= link_to "Faculty-Student Committee to Stop the War in Vietnam notebook", "/sets/#{params[:set]}/oregondigital:df73b1214" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73bj84h.jpg", :alt => "Posters and broadsides [b002] [f004] [001a]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73bj84h" %>
              <figcaption><%= link_to "Anti-Vietnam poster", "/sets/#{params[:set]}/oregondigital:df73bj84h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73bf53w.jpg", :alt => "Anti-Vietnam War buttons [b001] [f013] [004a]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73bf53w" %>
              <figcaption><%= link_to "Anti-Vietnam War button", "/sets/#{params[:set]}/oregondigital:df73bf53w" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73bb54j.jpg", :alt => "Anti-Vietnam War protest Eugene, Oregon photographs [b001] [f011] [004a]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73bb54j" %>
              <figcaption><%= link_to "Anti-Vietnam War protest", "/sets/#{params[:set]}/oregondigital:df73bb54j" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73b717s.jpg", :alt => "Insurgent Magazine [b001] [f007] [001a]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73b717s" %>
              <figcaption><%= link_to "Cover of Insurgent Magazine", "/sets/#{params[:set]}/oregondigital:df73b717s" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73b449f.jpg", :alt => "Publications [b001] [f005] [011a]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73b449f" %>
              <figcaption><%= link_to "Anti-Vietnam War publication", "/sets/#{params[:set]}/oregondigital:df73b449f" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>Laura J. Bock was a student at the University of Oregon during the 1960s who took part in civil rights activism and anti-vietnam protests at the university. The collection (1962&ndash;1969) contains political ephemera such as flyers and posters, memos, buttons, and underground newsletters and publications, as well as Bock's personal notes, correspondence, and an oral history (with transcript).</p>