
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbw1.jpg", :alt => "Two Japanese women sit in an interior space" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66rr23d" %>
              <figcaption><%= link_to "Two Japanese women sit in an interior space", "/sets/#{params[:set]}/oregondigital:df66rr23d" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbw2.jpg", :alt => "Japanese man with large intricate tattoo" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66rr33n" %>
              <figcaption><%= link_to "Tattooed Man", "/sets/#{params[:set]}/oregondigital:df66rr33n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbw3.jpg", :alt => "Two individuals identified as Gertrude Bass Warner and Murray Warner sit on their houseboat Illinois with a guide." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66rr33n" %>
              <figcaption><%= link_to "Gertrude Bass Warner", "/sets/#{params[:set]}/oregondigital:df66rr33n" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Gertrude Bass Warner (1863&ndash;1951) was an inveterate traveler and collector in Asia. The art collection that she and her husband assembled served as the foundation for the University of Oregon's Jordan Schnitzer Museum of Art. The UO Libraries house her art library, personal papers, ephemera, and lantern slides. Mrs. Warner became a self-taught but respected curator of Asian art, and an outspoken proponent of appreciation for Asian culture and multi-culturalism. As she traveled in the years 1904 to 1929, prior to and during military conflict in China, Japan, Korea, and Cambodia, she was able to collect images of places and traditions that have now vanished. The Warner lantern slide collection consists of 5,500 images, many hand-colored, dating from 1910 to 1929. In addition to images taken by Mrs. Warner, the collection includes slides purchased on her travels. The images depict art objects, crafts, structures, religious and traditional ceremonies, landscapes, and people.</p>
