
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">            
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/cityhall.jpg", :alt => "Corvallis City Hall, 1905" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70cc77t" %>
                    <figcaption><%= link_to "Corvallis City Hall, 1905", "/sets/#{params[:set]}/oregondigital:df70cc77t" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/courthouse.jpg", :alt => "Benton County Courthouse, 1892" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70cd90k" %>
                    <figcaption><%= link_to "Benton County Courthouse, 1892", "/sets/#{params[:set]}/oregondigital:df70cd90k" %></figcaption>
                </figure>
            </li>            
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/mainstreet.jpg", :alt => "Corvallis Main Street, 1869" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70cc847" %>
                    <figcaption><%= link_to "Corvallis Main Street, 1869", "/sets/#{params[:set]}/oregondigital:df70cc847" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/harding.jpg", :alt => "Harding School, 1925" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70cg73b" %>
                    <figcaption><%= link_to "Harding School, 1925", "/sets/#{params[:set]}/oregondigital:df70cg73b" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/bridge.jpg", :alt => "Willamette River bridge, 1935" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70cg21k" %>
                    <figcaption><%= link_to "Willamette River bridge, 1935", "/sets/#{params[:set]}/oregondigital:df70cg21k" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/church.jpg", :alt => "First Presbyterian Church, ca. 1910" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70df00s" %>
                    <figcaption><%= link_to "First Presbyterian Church, ca. 1910", "/sets/#{params[:set]}/oregondigital:df70df00s" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>The OSU Special Collections and Archives Research Center's holdings include collections pertaining to the history of Corvallis. More than fifty collections contain 19th and 20th century photographs of the city's downtown area, various neighborhoods, and outlying areas. This digital collection was originally compiled for the Corvallis sesquicentennial celebration in 2007. Since then, dozens of images have been added.</p>

<p>Among the highlights of this set is the earliest known photograph of the <a href="https://oregondigital.org/sets/corvallis-images/oregondigital:df70cc847">downtown area</a> (1869); and views of the <a href="https://oregondigital.org/sets/corvallis-images/page/1?per_page=20&q=%22Benton+County+courthouse%22&search_field=all_fields&utf8=%E2%9C%93">Benton County Courthouse</a>, the <a href="https://oregondigital.org/sets/corvallis-images?utf8=%E2%9C%93&set=corvallis-images&set=corvallis-images&search_field=all_fields&q=carriage+factory">Corvallis Carriage and Wagon Co. factory</a>, the <a href="https://oregondigital.org/sets/corvallis-images/oregondigital:df70cc77t">1892 City Hall</a>, <a href="https://oregondigital.org/sets/corvallis-images?f%5Bdesc_metadata__lcsubject_label_sim%5D%5B%5D=Schools%24http%3A%2F%2Fid.loc.gov%2Fauthorities%2Fsubjects%2Fsh85118451">early schools</a>, and the <a href="https://oregondigital.org/sets/corvallis-images/page/1?per_page=50&q=rivers&search_field=all_fields&utf8=%E2%9C%93">Willamette and Marys rivers</a>.</p>

<p>Corvallis, originally known as Marysville, was incorporated in 1857. The name is a Latin derivative meaning "heart of the valley," referring to its location in the Willamette Valley. Corvallis is the home of Oregon State University, designated in 1868 as Oregon's land grant university. See the <a href="https://oregonencyclopedia.org/articles/corvallis/#.XLCwOehKiHt">Oregon Encyclopedia entry on Corvallis</a> for more on the city's history.</p>

<p>Other Oregon Digital sets containing images of or pertaining to Corvallis and the Corvallis area include the <a href="https://oregondigital.org/catalog/?_=1554831637654&f%5Bdesc_metadata__set_label_sim%5D%5B%5D=Angelus+Studio+photographs%2C+1880s-1940s%24http%3A%2F%2Foregondigital.org%2Fresource%2Foregondigital%3Aangelus-studio&f%5Bdesc_metadata__type_label_sim%5D%5B%5D=Image%24http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FImage&f%5Bdesc_metadata__type_label_sim%5D%5B%5D=Image%24http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FImage&per_page=20&q=Corvallis&search_field=all_fields&utf8=%E2%9C%93">Angelus Studio Photographs</a>, <a href="https://oregondigital.org/sets/building-or?per_page=100&q=Corvallis&search_field=all_fields&utf8=%E2%9C%93">Building Oregon</a>, and <a href="https://oregondigital.org/sets/corvallis-flood">Rising Flood Waters: 1964 Corvallis</a>.</p>
