
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92gb12m.jpg", :alt => "Mitchell, Lucy Sprague. North America: The Land They Live in for the Children Who Live There" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92gb12m" %>
              <figcaption><%= link_to "Mitchell, Lucy Sprague. North America: The Land They Live in for the Children Who Live There", "/sets/#{params[:set]}/oregondigital:1j92gb12m" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92g890k.jpg", :alt => "Mitchell, Lucy Sprague. North America: The Land They Live in for the Children Who Live There" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92g890k" %>
              <figcaption><%= link_to "Mitchell, Lucy Sprague. North America: The Land They Live in for the Children Who Live There", "/sets/#{params[:set]}/oregondigital:1j92g890k" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92g976z.jpg", :alt => "Wiese, Kurt. Liang &amp; Lo" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92g976z" %>
              <figcaption><%= link_to "Wiese, Kurt. Liang &amp; Lo", "/sets/#{params[:set]}/oregondigital:1j92g976z" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1j92gb918.jpg", :alt => "Brooks, Walter Rollin. Freddy and Simon the Dictator" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1j92gb918" %>
              <figcaption><%= link_to "Brooks, Walter Rollin. Freddy and Simon the Dictator", "/sets/#{params[:set]}/oregondigital:1j92gb918" %></figcaption>
            </figure>
          </li>

         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>Kurt Wiese (1887-1974) was a German-born illustrator and author of American children's literature. The collection is primarily comprised of children's book production material including original drawings, sketches, proofs, manuscripts, and correspondence. Other artwork and personal papers are also included.</p>

