<!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/lchsa1.jpg", :alt => "Jim Berry Landing in Waldport" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65vs868' %>
			  <figcaption><%= link_to "Jim Berry Landing in Waldport", 'http://oregondigital.org/sets/lchsa/oregondigital:df65vs868' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/lchsa2.jpg", :alt => "Halibut on Ollie S at Newport" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65vw85m' %>
			  <figcaption><%= link_to "Halibut on Ollie S at Newport", 'http://oregondigital.org/sets/lchsa/oregondigital:df65vw85m' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/lchsa3.jpg", :alt => "Sen. Robert Kennedy Visits Mo's" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65vx13k' %>
			  <figcaption><%= link_to "Sen. Robert Kennedy Visits Mo's", 'http://oregondigital.org/sets/lchsa/oregondigital:df65vx13k' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/lchsa4.jpg", :alt => "Newport, OR Bay Blvd." + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65vv92t' %>
              <figcaption><%= link_to "Newport, OR Bay Blvd.", 'http://oregondigital.org/sets/lchsa/oregondigital:df65vv92t' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/lchsa5.jpg", :alt => "Highway Dedication Queen Rhoda Wearing Agate Crown" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65vr98v' %>
              <figcaption><%= link_to "Highway Dedication Queen Rhoda Wearing Agate Crown", 'http://oregondigital.org/sets/lchsa/oregondigital:df65vr98v' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/lchsa6.jpg", :alt => "Miss Newport 1948, Beverly Jean Duncan, YB Bridge" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65w109s' %>
              <figcaption><%= link_to "Miss Newport 1948, Beverly Jean Duncan, YB Bridge", 'http://oregondigital.org/sets/lchsa/oregondigital:df65w109s' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/lchsa7.jpg", :alt => "Male and female standing in sand 'fort' at Seal Rock" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65vp444' %>
              <figcaption><%= link_to "Male and female standing in sand "fort" at Seal Rock", 'http://oregondigital.org/sets/lchsa/oregondigital:df65vp444' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/lchsa8.jpg", :alt => "Yaquina Bay Bridge, 1939" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65w113c' %>
              <figcaption><%= link_to "Yaquina Bay Bridge, 1939", 'http://oregondigital.org/sets/lchsa/oregondigital:df65w113c' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/lchsa9.jpg", :alt => "FV Neptune of Coos Bay, 4 Feb 1960" + ', ' + @set.title), 'http://oregondigital.org/sets/lchsa/oregondigital:df65vt970' %>
			  <figcaption><%= link_to "FV Neptune of Coos Bay, 4 Feb 1960", 'http://oregondigital.org/sets/lchsa/oregondigital:df65vt970' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Lincoln County Historical Society Archive <a href="http://oregoncoasthistory.org/">http://oregoncoasthistory.org/</a></p>

