
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/saddle_dalles.jpg", :alt => "Saddle for The Dalles area" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Saddle for The Dalles area", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/violin.jpg", :alt => "Detail of f-hole area on violin #13" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Detail of f-hole area on violin #13", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gold_digger.jpg", :alt => "Gold digger hanging in gold room rest" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Gold digger hanging in gold room rest", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/spurs.jpg", :alt => "Sample spurs, close up" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Sample spurs, close up", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/baby_quilt_hyatt.jpg", :alt => "Baby Quilt by Dolores Hyatt, 1975" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Baby Quilt by Dolores Hyatt, 1975", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/pioneer_couple.jpg", :alt => "Statue of pioneer couple in S. Jones backyard, second view" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Statue of pioneer couple in S. Jones backyard, second view", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/early_basket.jpg", :alt => "Early basket" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Early basket", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/hobbles.jpg", :alt => "Hobbles braided of all rawhide" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Hobbles braided of all rawhide", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/engraving_equip.jpg", :alt => "Engraving equipment in front of V., showing prized examples of other engravers' work" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Engraving equipment in front of V., showing prized examples of other engravers' work", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>The Randall V. Mills Archives of Northwest Folklore, established in 1966, is the UO Folklore Program's repository of multi-format, ethnographic collections documenting the customary beliefs, social practices, and material traits of cultural, religious, occupational, and ethnic groups throughout Oregon and the Northwest. The Archives has grown to become the largest folklife collection in the Northwest, and is an important resource for scholars, students, and the general public interested in the folklife of the region. The Archives holds over 7,000 slides of unique, visual folkloric materials, as well as texts, sound recordings, films, and videotapes.</p>

    <h3>Acknowledgements</h3>

    <p>This project is a collaboration between the UO Folklore Program's <a href="http://folklore.uoregon.edu/archives/">Randall V. Mills Archives of Northwest Folklore</a> and the <a href="http://library.uoregon.edu">University of Oregon Libraries</a>.</p>

    <p>This project is supported in whole or part by the <a href="http://www.imls.gov/">Institute of Museum and Library Services</a> through the Library Services and Technology Act, administered by the <a href="http://www.oregon.gov/OSL/">Oregon State Library</a>.</p>

    <p>Thank you to the <a href="http://www.oregonartscommission.org/">Oregon Arts Commission</a> for permission to display Webfoots and Bunchgrassers: Folk Art of the Oregon Country online.</p>

    <p>Thank you to the students and volunteers who contributed to this project, particularly Kristen Gallerneaux Brooks, Kathryn Darnall, Caroline Louise McNabb, Laurel Narizny, Ahavah Oblak, and Zachary Schwartz.</p>
