
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/russ1.jpg", :alt => "Handwritten correspondence between Tiptree and Russ" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724j86w" %>
              <figcaption><%= link_to "'Coming Out'", "/sets/#{params[:set]}/oregondigital:df724j86w" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/russ2.jpg", :alt => "Reproduction of sketch of two faces and one body presenting Gestalt principle of figure/ground" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724h089" %>
              <figcaption><%= link_to "Gestalt Sketch", "/sets/#{params[:set]}/oregondigital:df724h089" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/russ3.jpg", :alt => "Typewritten correspondence between Tiptree and Russ" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724h178" %>
              <figcaption><%= link_to "1973 Correspondence", "/sets/#{params[:set]}/oregondigital:df724h178" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/russ4.jpg", :alt => "Typewritten correspondence between Tiptree and Russ" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724h798" %>
              <figcaption><%= link_to "1972 Correspondence", "/sets/#{params[:set]}/oregondigital:df724h798" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/russ5.jpg", :alt => "Handwritten postcard" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724h27h" %>
              <figcaption><%= link_to "1983 Postcard", "/sets/#{params[:set]}/oregondigital:df724h27h" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Joanna Russ, feminist, educator, award-winning author and literary critic was born February 22, 1937 in New York City. Her short stories, novels and essays examine the limitations of late 20th century gender roles on the lives of women and posit the possibilities for women outside these constructions. Her explorations into the speculative nature of women's reality place her work in a subsection of science fiction along with the work of Ursula Le Guin and Octavia Butler. Her academic career includes teaching at Queensborough Community College in New York, Cornell, the State University of New York at Binghamton and the University of Colorado at Boulder. In 1977, she joined the faculty of the University of Washington in Seattle, retiring in 1990 as a full professor.</p>

    <p>The Joanna Russ papers include manuscripts of her novels, unpublished plays, published and unpublished short stories, theoretical essays, and sketches of contemporary life. Russ also maintained an extensive correspondence with many U.S. and English feminist writers and theorists of the late twentieth century as well as with former university colleagues and students and with those involved in science fiction. The collection offers a view of the evolution of thought among a sizable group of women intellectuals as they attempted to conceptualize feminism and to apply feminist perceptions of power in society into the realities of their own lives. A <a href="http://archiveswest.orbiscascade.org/ark:/80444/xv52000/">full inventory of the papers</a> is available.</p>
