
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbwarnerpapers1.jpg", :alt => "Gertrude Bass Warner Paper" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66rr23d" %>
              <figcaption><%= link_to "Gertrude Bass Warner Paper", "/sets/#{params[:set]}/oregondigital:df66rr23d" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbwarnerpapers2.jpg", :alt => "Gertrude Bass Warner Paper" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66rr33n" %>
              <figcaption><%= link_to "Gertrude Bass Warner Paper", "/sets/#{params[:set]}/oregondigital:df66rr33n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbwarnerpapers3.jpg", :alt => "Gertrude Bass Warner Paper" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66rr33n" %>
              <figcaption><%= link_to "Gertrude Bass Warner Paper", "/sets/#{params[:set]}/oregondigital:df66rr33n" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Gertrude Bass Warner (1863&ndash;1951) was a wealthy American woman who fell in love with Asia. She first traveled there in 1904, married an American engineer in Shanghai, and spent the rest of her life collecting, studying, and promoting Asian art and culture. She was instrumental in building Asian programs at the University of Oregon, in addition to founding the art museum to house the Murray Warner Collection of Asian Art. Mrs. Warner traveled extensively to build her collection, to study, to learn about museum construction and management, and to promote multiculturalism and appreciation for Asian culture.</p>
 
    <p>The Gertrude Bass Warner papers, 1909&ndash;1923, collection consists primarily of travel diaries, notes, correspondence and ephemera related to research about shrines and religious ceremonies for several manuscripts that Gertrude Bass Warner (1863&ndash;1951) was working on. There is also correspondence about pieces of art that she and her husband were collecting to bring back to the United States for a museum exhibit. The bulk of the materials are about Japan during the time period of 1909&ndash;1923. Ms. Warner was the founder and director emeritus of the University of Oregon Fine Art Museum.</p>
