
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbwarnerpapers1.jpg", :alt => "Single unit exchange votive slip with image of Princess Fusa reading the Lotus Sutra to the dog, Yatsufusa." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df712924z" %>
              <figcaption><%= link_to "Tale of the Eight Dog Warriors", "/sets/#{params[:set]}/oregondigital:df712924z" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbwarnerpapers2.jpg", :alt => "Single unit exchange votive slip with a double-line border and a seal at the top." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df712918t" %>
              <figcaption><%= link_to "One Unit Exchange Slip", "/sets/#{params[:set]}/oregondigital:df712918t" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gbwarnerpapers3.jpg", :alt => "Summary of a votive slip meeting above an image of three round dogs with purple, red, and blue collars." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df712882n" %>
              <figcaption><%= link_to "Votive Slip Opening Meeting", "/sets/#{params[:set]}/oregondigital:df712882n" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>The University of Oregon Libraries holds the only known collection of Japanese shrine and temple votive slips (<em>nōsatsu</em>) in North America.</p>
     
    <p>The <em>nosatsu</em> prints were collected from 1910 to around 1925 by Frederick Starr, an anthropologist from the University of Chicago, who was intrigued by the religious nature of the votive slips and the transmission of Ukiyo-e printing techniques and tropes from the Edo period to the <em>nōsatsu</em> of the Meiji and Taishō eras (1868&ndash;1925). Starr became a regular participant in the exchange clubs (<em>nōsatsu-kai</em>) that experienced a revival during that time and, like other members, commissioned highly decorative and vividly illustrated votive slips to exchange at <em>nōsatsu-kai</em> meetings. Starr became such an engaged and recognized figure in the <em>nōsatsu-kai</em> community that he was known as <em>O-fuda Hakushi</em> (“Professor of votive slips”).</p>
     
    <p>The <em>nōsatsu</em> images in the University of Oregon’s collection cover a wide range of themes and topics including landscapes; depictions of figures from Edo-period popular fiction and theatre; shrines and temples; seasonal celebrations; mythical creatures; firefighters; Japanese toys and collectibles; and prints showing the activities of the <em>nōsatsu-kai</em> members themselves.</p>
     
    <p>We would like to acknowledge the generous contributions and support of the Center for Asian Pacific Studies, the University of Oregon’s Special Collections Department and the Digital Scholarship Center.</p>

