
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/baseball.jpg", :alt => "A close play at first base, 1948" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:m326m201n" %>
                    <figcaption><%= link_to "A close play at first base, 1948", "/sets/#{params[:set]}/oregondigital:m326m201n" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/basketball.jpg", :alt => "Vic Bartolome looks to score versus the Ducks, 1970" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71d6926" %>
                    <figcaption><%= link_to "Vic Bartolome looks to score versus the Ducks, 1970", "/sets/#{params[:set]}/oregondigital:df71d6926" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/crew.jpg", :alt => "The OSC crew team, ca. 1930" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71w310h" %>
                    <figcaption><%= link_to "The OSC crew team, ca. 1930", "/sets/#{params[:set]}/oregondigital:df71w310h" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/football.jpg", :alt => "Oregon State players on the sideline at the Rose Bowl" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df719m97j" %>
                    <figcaption><%= link_to "Oregon State players on the sideline at the Rose Bowl", "/sets/#{params[:set]}/oregondigital:df719m97j" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/gymnastics.jpg", :alt => "An OSU gymnast performs in the Womens Building, 1969" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df719q312" %>
                    <figcaption><%= link_to "An OSU gymnast performs in the Womens Building, 1969", "/sets/#{params[:set]}/oregondigital:df719q312" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/shotput.jpg", :alt => "A competitor in the women's shotput, 1920" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df70d1700" %>
                    <figcaption><%= link_to "A competitor in the women's shotput, 1920", "/sets/#{params[:set]}/oregondigital:df70d1700" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/softball.jpg", :alt => "A game of indoor softball, ca. 1920s" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:dz010q081" %>
                    <figcaption><%= link_to "A game of indoor softball, ca. 1920s", "/sets/#{params[:set]}/oregondigital:dz010q081" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/womens-basketball.jpg", :alt => "Felicia Ragland shoots from long range, 2001" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df719q19s" %>
                    <figcaption><%= link_to "Felicia Ragland shoots from long range, 2001", "/sets/#{params[:set]}/oregondigital:df719q19s" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/wrestling.jpg", :alt => "Wrestlers spell out 'OAC,' 1910" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71hw136" %>
                    <figcaption><%= link_to "Wrestlers spell out 'OAC,' 1910", "/sets/#{params[:set]}/oregondigital:df71hw136" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>Intercollegiate athletics began at Oregon Agricultural College in 1893 and, over the years, have included men's teams participating in football, basketball, baseball, tennis, swimming, polo, crew, golf, soccer, wrestling, track and field, and cross country. Though the history of women's athletics at Oregon State dates back to the late 1800s, intercollegiate competition did not begin to fully emerge until the late 1960s and early 1970s, prompted by the implementation of Title IX legislation. Today, the university supports women's teams competing in basketball, cross country, golf, gymnastics, rowing, soccer, softball, swimming, track and field, and volleyball. Oregon State can also boast of a tradition of support for recreational sports that is nearly unparalleled. The university is home to the third-oldest intramural program in the country and celebrated one-hundred years of collegiate recreation in 2016.</p>
<p>This set documents the history of formal and informal athletic competition at Oregon State from before the turn of the twentieth century up to present day. Included are thousands of historic photographs of players, teams, coaches, fans and everyday students engaged in a wide variety of athletic and recreational activities. Likewise included are sports media guides that highlight specific teams and provide valuable context on more than a century of Beaver sports.</p>




