
    <!-- Description -->
    <div class="left-image span4">

      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chapman_hall_entrance.jpg", :alt => "Chapman Hall entrance" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Chapman Hall entrance", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/mascot_ducks.jpg", :alt => "Mascot Ducks" + ', ' + @set.title), '#' %>
            <figcaption><%= link_to "Mascot Ducks", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/robert_d_clark.jpg", :alt => "Robert D. Clark" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Robert D. Clark", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregon_shirts.jpg", :alt => "Student group" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Student group", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/honors_college_fireplace_studying.jpg", :alt => "Honors College fireplace study group" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Honors College fireplace study group", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/womens_dorm.jpg", :alt => "Women's Dorm" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Women's Dorm", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/cancel_the_naval_maneuvers.jpg", :alt => "Cancel the Naval Maneuvers" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Cancel the Naval Maneuvers", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/memorial_quad.jpg", :alt => "Memorial Quad - 3" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Memorial Quad - 3", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/students_demand_equal_voice.jpg", :alt => "Students demand equal voice" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Students demand equal voice", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>

    </div>

    <p>The University Archives Photograph Collection contains modern and vintage photographic prints related to the University of Oregon. The photographs depict a variety of buildings, historic scenes, events, students, faculty and staff, and scenes of campus life.</p>
