
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chapman_hall_entrance.jpg", :alt => "Chapman Hall entrance" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nk32t" %>
              <figcaption><%= link_to "Chapman Hall entrance", "/sets/#{params[:set]}/oregondigital:df66nk32t" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/mascot_ducks.jpg", :alt => "Mascot Ducks" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nj655" %>
              <figcaption><%= link_to "Mascot Ducks", "/sets/#{params[:set]}/oregondigital:df66nj655" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/robert_d_clark.jpg", :alt => "Robert D. Clark" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nk308" %>
              <figcaption><%= link_to "Robert D. Clark", "/sets/#{params[:set]}/oregondigital:df66nk308" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/honors_college_fireplace_studying.jpg", :alt => "Honors College fireplace study group" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nj990" %>
              <figcaption><%= link_to "Honors College fireplace study group", "/sets/#{params[:set]}/oregondigital:df66nj990" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/womens_dorm.jpg", :alt => "Women's Dorm" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nh41c" %>
              <figcaption><%= link_to "Women's Dorm", "/sets/#{params[:set]}/oregondigital:df66nh41c" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/cancel_the_naval_maneuvers.jpg", :alt => "Cancel the Naval Maneuvers" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nj409" %>
              <figcaption><%= link_to "Cancel the Naval Maneuvers", "/sets/#{params[:set]}/oregondigital:df66nj409" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/memorial_quad.jpg", :alt => "Memorial Quad - 3" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nj67q" %>
              <figcaption><%= link_to "Memorial Quad - 3", "/sets/#{params[:set]}/oregondigital:df66nj67q" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/students_demand_equal_voice.jpg", :alt => "Students demand equal voice" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66nm77c" %>
              <figcaption><%= link_to "Students demand equal voice", "/sets/#{params[:set]}/oregondigital:df66nm77c" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>

    </div>

    <p>The University Archives Photograph Collection contains modern and vintage photographic prints related to the University of Oregon. The photographs depict a variety of buildings, historic scenes, events, students, faculty and staff, and scenes of campus life.</p>
