
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-qb98mg62f.jpg", :alt => "Rogue Valley Memorial Hospital" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:qb98mg62f" %>
              <figcaption><%= link_to "Rogue Valley Memorial Hospital", "/sets/#{params[:set]}/oregondigital:qb98mg62f" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-qb98mg462.jpg", :alt => "Lithia Park, Extension Development" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:qb98mg462" %>
              <figcaption><%= link_to "Lithia Park, Extension Development", "/sets/#{params[:set]}/oregondigital:qb98mg462" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-qb98mg53g.jpg", :alt => "Lithia Park, Extension Development, Phase III" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:qb98mg53g" %>
              <figcaption><%= link_to "Lithia Park, Extension Development, Phase III", "/sets/#{params[:set]}/oregondigital:qb98mg53g" %></figcaption>
            </figure>
          </li>

         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>Chester E. Corry (1906-1989) was an Oregon landscape architect who worked predominantly in southern Oregon. Corry is best known for his work at Ashland’s Lithia Park. Born in Columbia, North Dakota, in 1906, Corry spent most of his childhood in Glendora, California. Corry received a professional degree in landscape architecture from Oregon Agricultural College (now Oregon State University) in 1930. During the early 1930s, Corry worked for Portland’s Lambert Gardens and the National Park Service at Mt. Lassen. This experience enabled Corry to become Ashland’s assistant park superintendent in 1937, a position he held until his retirement in 1969.

Corry invested his time and skill in many residential and public landscape architecture projects. Most projects were conducted in Ashland and Medford, Oregon, however several other areas, including 17 cities and counties in Oregon, five cities in California, and one city in Massachusetts, are reflected in the collection. The Chester E. Corry papers contain landscape architecture plans for public areas and residential clients, some accompanying documentation for landscape projects, clippings, correspondence, and an autobiography. A <a href="https://scua.uoregon.edu/repositories/2/resources/8793">full inventory</a> is available.</p>

