
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/COLL_FRAZIER_AUGUSTUS_PH119_BX4_IMG107.jpg", :alt => "An image of men and women on horseback." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719n94x" %>
              <figcaption><%= link_to "Men and Women on Horseback", "/sets/#{params[:set]}/oregondigital:fx719n94x" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH119_Bx1_033.jpg", :alt => "Cavalry officers seated on steps of a building at Fort Lewis, Colorado. Frazier Boutelle at right." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719s51z" %>
              <figcaption><%= link_to "Cavalry officers Seated on Steps", "/sets/#{params[:set]}/oregondigital:fx719s51z" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Ph119_028.jpg", :alt => "Cavalry officer group posed in woods. Frazier Boutelle at right, seated, with one medal and two bars on shoulder patch." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719p082" %>
              <figcaption><%= link_to "Cavalry Officer Group Posed in Woods", "/sets/#{params[:set]}/oregondigital:fx719p082" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Frazier Augustus Boutelle (1840&ndash;1924) served in the US Army for 57 years, fighting in the Civil War, in Indian wars, and working as a recruiter in World War I. In 1889&ndash;1990 he was Superintendent of Yellowstone National Park. The collection consists of documentation of Boutelle's career: military scenes of the Indian Wars from 1870s to 1890s, images from the Philippines from 1898 to 1899, and the Yellowstone area 1889&ndash;1890.</p>
