
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-sf268644d.jpg", :alt => "McLoughlin House project correspondence" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:sf268644d" %>
              <figcaption><%= link_to "McLoughlin House project correspondence", "/sets/#{params[:set]}/oregondigital:sf268644d" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-sf268685n.jpg", :alt => "McLoughlin and Barclay Houses" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:sf268685n" %>
              <figcaption><%= link_to "McLoughlin and Barclay Houses", "/sets/#{params[:set]}/oregondigital:sf268685n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-sf268655x.jpg", :alt => "McLoughlin House project correspondence" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:sf268655x" %>
              <figcaption><%= link_to "McLoughlin House project correspondence", "/sets/#{params[:set]}/oregondigital:sf268655x" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>Elizabeth Lord (1887-1976) and Edith Schryver (1901-1984) founded the Lord &amp; Schryver landscape architecture firm in 1929 in Salem, Oregon. Working from Lord’s family home in Salem, Oregon, the pair established themselves as the first firm of professional women landscape architects on the West Coast and designed gardens for locations throughout Oregon and Washington. Their practice primarily focused on garden design for private residences however, they also designed the grounds for Reed College (Portland, Oregon) and the College of Puget Sound (now University of Puget Sound, Tacoma, Washington), several parks and schools in Salem, Oregon, two churches, and a variety of city- and state-owned public buildings.

The Lord &amp; Schryver landscape architectural records contain landscaping plans and drawings, correspondence, office files, subject files, photographs, brief biographical sketches, and notes relating to Lord’s and Schryver’s work as landscape architects. Additionally, the collection includes Edith Schryver’s teaching files from Oregon State College (now Oregon State University), as well as radio scripts for Lord’s and Schryver’s “Home Garden Hour” which detail a day in the life of a landscape architect. A <a href="https://scua.uoregon.edu/repositories/2/resources/2021">full inventory</a> is available. </p>

