<!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/capeperpetua.jpg", :alt => "Ariel View of Cape Perpetua" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:hx11xf47v" %>
			  <figcaption><%= link_to "Aerial View of Cape Perpetua", "/sets/#{params[:set]}/oregondigital:hx11xf47v" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stand.jpg", :alt => "Cheryl Walters Doing Stand Examination" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:nv9353120" %>
			  <figcaption><%= link_to "Cheryl Walters Doing Stand Examination", "/sets/#{params[:set]}/oregondigital:nv9353120" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/enrollees.jpg", :alt => "A Group of CCC Enrollees" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:wd375w49p" %>
			  <figcaption><%= link_to "A Group of CCC Enrollees", "/sets/#{params[:set]}/oregondigital:wd375w49p" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/jcstaff.jpg", :alt => "Angell Job Corps staff instructing students" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:0c483j51k" %>
			  <figcaption><%= link_to "Angell Job Corps staff instructing students", "/sets/#{params[:set]}/oregondigital:0c483j51k" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/camper.jpg", :alt => "Camping Family with Small Trailer" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:w6634375q" %> 
			  <figcaption><%= link_to "Camping Family with Small Trailer", "/sets/#{params[:set]}/oregondigital:w6634375q" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/firepit.jpg", :alt => "CCC Building Fire Pit for Shelter" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:7d278t156" %> 
			  <figcaption><%= link_to "CCC Building Fire Pit for Shelter", "/sets/#{params[:set]}/oregondigital:7d278t156" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/drillcrew.jpg", :alt => "Compressor and Drill Crew" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:np193944t" %> 
			  <figcaption><%= link_to "Compressor and Drill Crew", "/sets/#{params[:set]}/oregondigital:np193944t" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/canoe.jpg", :alt => "2003 Heritage Expedition" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:02870w02v" %> 
		  	  <figcaption><%= link_to "2003 Heritage Expedition", "/sets/#{params[:set]}/oregondigital:02870w02v" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/lighthouse.jpg", :alt => "Arago Light House, Coos Bay, Oregon" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:tx31qh898" %> 
			  <figcaption><%= link_to "Arago Light House, Coos Bay, Oregon", "/sets/#{params[:set]}/oregondigital:tx31qh898" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

	<p>The Siuslaw National Forest (SNF) collection contains nearly 5,000 digital images from the late 1800s to the present that reflect changing forest management practices, landscapes, and people over the course of Siuslaw National Forest history. A highlight of the collection is photographs taken by Corydon Cronk during his time as an assistant ranger in 1910-1911. The collection will be expanded in the near future as other historic information is converted into digital format. This will include the development of topic specific exhibits within the Siuslaw National Forest digital collection. The primary objective of the collection is making forest history available to the public.</p>
	<p>In 2013 Oregon State Libraries and Press (OSULP), and the <a href="http://www.fs.usda.gov/siuslaw/">Siuslaw National Forest (SNF)</a> agreed that the SNF would provide historical information (photos, documents, audio, etc.) in digital format to OSULP, which would store and manage the digital collection and provide public access. SNF retains the original materials and the rights to provide permissions for use.</p>
	<p>Recognition goes to all of the volunteers that have and will continue to work on the digitization and organization of historic records on the SNF. Without the support of volunteers working through the Passport in Time Program, which is a volunteer archaeology and historic preservation program of the U.S. Forest Service, this digital collection would have never been created. Thanks as well to the OSU Libraries and Press for making the collection available.</p>

