
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1544br10v.jpg", :alt => "They Signal Send Books (culture)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1544br10v" %>
              <figcaption><%= link_to "Coll467_b000_of007_002a - They Signal Send Books (culture)", "/sets/#{params[:set]}/oregondigital:1544br10v" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1544bt108.jpg", :alt => "War Wages in France (food conservation)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1544bt108" %>
              <figcaption><%= link_to "Coll467_b000_of005_029a - War Wages in France (food conservation)", "/sets/#{params[:set]}/oregondigital:1544bt108" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1544bt710.jpg", :alt => "Teufel Hunden (Devil Dog) US Marines (recruitment)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1544bt710" %>
              <figcaption><%= link_to "Coll467_b000_of008_010a - Teufel Hunden (Devil Dog) US Marines (recruitment)", "/sets/#{params[:set]}/oregondigital:1544bt710" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1544bx87h.jpg", :alt => "The True Nature of American Freedom (Russian)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1544bx87h" %>
              <figcaption><%= link_to "Coll467_b000_of023_036a - The True Nature of American Freedom (Russian)", "/sets/#{params[:set]}/oregondigital:1544bx87h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-1544bx31n.jpg", :alt => "Headline Detective (war bonds)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1544bx31n" %>
              <figcaption><%= link_to "Coll467_b021_f001_009a - Headline Detective (war bonds)", "/sets/#{params[:set]}/oregondigital:1544bx31n" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>The collection comprises more than 550 propagandistic and informational posters created during various conflicts, primarily World War I and World War II. Posters within the collection cover a wide range of war-related themes such as conservation, production, recruitment, and patriotism. Individual posters range in size from small leaflets and magazine covers, to larger banners and posters several square feet in size.</p>
