
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1923-oac-alumnus.jpg", :alt => "OAC Alumnus, February 1923" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bq563" %>
                    <figcaption><%= link_to "OAC Alumnus, February 1923", "/sets/#{params[:set]}/oregondigital:fx71bq563" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1927-oac-alumnus.jpg", :alt => "OAC Alumnus, May 1927" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71br57k" %>
                    <figcaption><%= link_to "OAC Alumnus, May 1927", "/sets/#{params[:set]}/oregondigital:fx71br57k" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1930-os-monthly.jpg", :alt => "Oregon State Monthly, December 1930" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bp47x" %>
                    <figcaption><%= link_to "Oregon State Monthly, December 1930", "/sets/#{params[:set]}/oregondigital:fx71bp47x" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1932-os-monthly.jpg", :alt => "Oregon State Monthly, June 1932" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bq49p" %>
                    <figcaption><%= link_to "Oregon State Monthly, June 1932", "/sets/#{params[:set]}/oregondigital:fx71bq49p" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1936-os-monthly.jpg", :alt => "Oregon State Monthly, January 1936" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bp265" %>
                    <figcaption><%= link_to "Oregon State Monthly, January 1936", "/sets/#{params[:set]}/oregondigital:fx71bp265" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1946-stater.jpg", :alt => "Oregon Stater, November 1946" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bm40k" %>
                    <figcaption><%= link_to "Oregon Stater, November 1946", "/sets/#{params[:set]}/oregondigital:fx71bm40k" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1958-stater.jpg", :alt => "Oregon Stater, January 1958" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bq68w" %>
                    <figcaption><%= link_to "Oregon Stater, January 1958", "/sets/#{params[:set]}/oregondigital:fx71bq68w" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1960-stater.jpg", :alt => "Oregon Stater, April - May, 1960" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bq962" %>
                    <figcaption><%= link_to "Oregon Stater, April - May, 1960", "/sets/#{params[:set]}/oregondigital:fx71bq962" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/2008-stater.jpg", :alt => "Oregon Stater, Winter 2008" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bq406" %>
                    <figcaption><%= link_to "Oregon Stater, Winter 2008", "/sets/#{params[:set]}/oregondigital:fx71bq406" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>The Oregon State University alumni magazine - a regular news publication that provides information on campus events, research and teaching, and athletics, as well as news of the activities and lives of Oregon State alumni - was launched in October 1915 with the first issue of the <em>OAC Alumnus</em>. In the decades since, the magazine has been published under several titles:  <em>OAC Alumnus</em> from 1915 to 1929; <em>Oregon State Monthly</em> from April 1929 through 1937; and <em>Oregon Stater</em> beginning in 1940.</p> 
    
<p>From its inception, the magazine has been published at least several times per year.  For a period, it was issued monthly during the academic year (10 issues per year), and from 1972 through the September 1999 issue, the <em>Oregon Stater</em> was published 4-6 times per year as a tabloid-style newsprint publication.  Beginning with the December 1999 <em>Oregon Stater</em>, the magazine has been published 3-4 times per year as a 4-color magazine.</p>




