
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w769n.jpg", :alt => "The Woman Dancers" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w769n" %>
              <figcaption><%= link_to "The Woman Dancers", "/sets/#{params[:set]}/oregondigital:zk51w769n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w7028.jpg", :alt => "Food Stand Girl, Pow-wow" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w7028" %>
              <figcaption><%= link_to "Food Stand Girl, Pow-wow", "/sets/#{params[:set]}/oregondigital:zk51w7028" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w7206.jpg", :alt => "City Hall, San Francisco, CA" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w7206" %>
              <figcaption><%= link_to "City Hall, San Francisco, CA", "/sets/#{params[:set]}/oregondigital:zk51w7206" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w7320.jpg", :alt => "Indian Man on the Bus" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w7320" %>
              <figcaption><%= link_to "Indian Man on the Bus", "/sets/#{params[:set]}/oregondigital:zk51w7320" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w6286.jpg", :alt => "This is Indian Land" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w6286" %>
              <figcaption><%= link_to "This is Indian Land", "/sets/#{params[:set]}/oregondigital:zk51w6286" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w6553.jpg", :alt => "Camera in Face" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w6553" %>
              <figcaption><%= link_to "Camera in Face", "/sets/#{params[:set]}/oregondigital:zk51w6553" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w6774.jpg", :alt => "Gertrude Foolish Bear" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w6774" %>
              <figcaption><%= link_to "Gertrude Foolish Bear", "/sets/#{params[:set]}/oregondigital:zk51w6774" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w687c.jpg", :alt => "Crow Woman on Horse with Umbrella" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w687c" %>
              <figcaption><%= link_to "Crow Woman on Horse with Umbrella", "/sets/#{params[:set]}/oregondigital:zk51w687c" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>Zig Jackson (b.1957- ) is a Native artist and photographer who grew up on the Fort Berthold Indian Reservation in North Dakota. He is an enrolled member of the Three Affiliated Tribes (Mandan, Hidatsa, and Arikara) whose work includes portraiture and documentary photography depicting traditional indigenous culture.</p>
<p>This collection (1990-2009) contains 89 black and white prints taken at Indian reservations and other regions across the United States. The prints feature documentary photography of contemporary Native American communities and events, and offer commentary on Indian identity, land rights, sovereignty, representation, and tribal traditions. Prints show Native American ceremonies, Indian reservations, sacred sites, lodges, monuments, tourism, souvenir booths, food stands, road signs, government buildings, and urban areas.</p>
<p>As an indigenous artist, Jackson uses photography to document the ever-changing landscape of contemporary Native America—from city to reservation to casino to oil country—and deconstruct the common myths and misconceptions that persist to the present day. Although people are inundated with images of Native Americans in the media and consumer society, Jackson observes that Indians still remain a mystery to mainstream America. Many continue to see Native Americans as “a people forgotten by time”—the Noble Savage,” stoic warrior, buckskin-clad maiden, or all-knowing shaman. Jackson’s images reveal a far different reality—one of a people in transition, at once struggling and thriving in the midst of a constantly changing technological world.</p>
