
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/colver1.jpg", :alt => "Handwritten letter to Colver home" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Handwritten Greetings", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/colver2.jpg", :alt => "Typewritten biography of Samuel Colver written by his grandson" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Short Biography", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/colver3.jpg", :alt => "Photograph from book of residence street in Jacksonville, Oregon" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Jacksonville Street", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Samuel Colver was born on September 10, 1815, in Union Co., Ohio, the son of Samuel and Rachel (Curry) Colver. In 1850, he and his brother Hiram moved their families from Ohio to Oregon via the Oregon Trail. Colver served as an Indian Agent in the Rogue River Valley, where he was a signer of the Table Rock Treaty that effectively ended the Modoc Indian War. He also served as a US Marshall. Samuel and Hiram founded the small community of Phoenix, Oregon, which still exists today southeast of the city of Medford.</p>

    <p>The Colver family papers (Ax 126) contain 8 letters from Samuel Colver to his wife, Huldah, and children, 1861&ndash;1888; and 5 letters from Lewellyn Colver to his parents Samuel and Huldah, written from Ft. Klamath, 1865&ndash;1867, when he was in Company I, 1st Oregon Infantry. Three Lewellyn Colver letters are to Oliver C. Applegate, 1869&ndash;1870. The papers include historical and genealogical notes by Nellie Rose Jones, granddaughter of Samuel Colver. Also included are the reminiscences of O. A. Stearns, with information on Samuel Colver.​</p>
