
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b291r.jpg", :alt => "Agonimia tristicula; Perithecia section" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b291r" %>
                    <figcaption><%= link_to "Agonimia tristicula; Perithecia section", "/sets/#{params[:set]}/oregondigital:df71b291r" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b2590.jpg", :alt => "Bacidia bagliettoana; Apothecial section" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b2590" %>
                    <figcaption><%= link_to "Bacidia bagliettoana; Apothecial section", "/sets/#{params[:set]}/oregondigital:df71b2590" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b2344.jpg", :alt => "Adelolecia pilati; Apothecial section POL" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b2344" %>
                    <figcaption><%= link_to "Adelolecia pilati; Apothecial section POL", "/sets/#{params[:set]}/oregondigital:df71b2344" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b1801.jpg", :alt => "Acarospora badiofusca; Apothecia" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b1801" %>
                    <figcaption><%= link_to "Acarospora badiofusca; Apothecia", "/sets/#{params[:set]}/oregondigital:df71b1801" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b251s.jpg", :alt => "Bacidia arceutina; Apothecial section" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b251s" %>
                    <figcaption><%= link_to "Bacidia arceutina; Apothecial section", "/sets/#{params[:set]}/oregondigital:df71b251s" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b250h.jpg", :alt => "Bacidia arceutina; Apothecia" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b250h" %>
                    <figcaption><%= link_to "Bacidia arceutina; Apothecia", "/sets/#{params[:set]}/oregondigital:df71b250h" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b254m.jpg", :alt => "Bacidia arceutina; Spores" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b254m" %>
                    <figcaption><%= link_to "Bacidia arceutina; Spores", "/sets/#{params[:set]}/oregondigital:df71b254m" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df71b1666.jpg", :alt => "Acarospora americana; Habit" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71b1666" %>
                    <figcaption><%= link_to "Acarospora americana; Habit", "/sets/#{params[:set]}/oregondigital:df71b1666" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>The Lichens of the Pacific Northwest Image Collection contains photos as a companion to the book by Bruce McCune, <em>Microlichens of the Pacific Northwest</em> (2017. Two volumes. <a href="https://www.wildblueberrymedia.net/">Wild Blueberry Media</a>, Corvallis). Photos were taken by Bruce McCune, unless otherwise indicated. Most specimens were from the Pacific Northwest of North America, although a few are from elsewhere, as indicated.</p> 
<p>We are still in the process of adding images. Initially this collection contains images of just microlichens (crustose and squamulose lichens), but eventually we hope to include macrolichens as well, as a companion to <em>Macrolichens of the Pacific Northwest</em> (McCune, Bruce &amp; Linda Geiser. 2009. <a href="http://www.osupress.oregonstate.edu/book/macrolichens-of-pacific-northwest">Oregon State University Press</a>, 464 pages).</p>
<p>Most of the images were taken through either a compound light microscope or a dissecting scope.</p>
<p>Scale bars are 1 mm long unless otherwise indicated. Common abbreviations in the photos indicate the reagents or lighting as listed below. See either book cited above for more details.</p>

<ul style="list-style: none;">
<li>C = NaOCl (chlorine bleach)</li>
<li>I or IKI = Iodine dissolved in potassium iodide</li>
<li>K = 10% potassium hydroxide</li>
<li>N = 6M nitric acid</li>
<li>P = para-phenylenediamine in ethanol</li>
<li>POL = Polarized light</li>
<li>UV  = Ultraviolet light</li>
</ul>

<p>Comments and corrections on the photos are welcome by email to <a href="mailto:mccuneb@oregonstate.edu">mccuneb@oregonstate.edu</a>.</p>
<p>For more information on lichens of the Pacific Northwest, see the Northwest Lichenologists website (<a href="http://www.nwlichens.org">www.nwlichens.org</a>) and Bruce McCune's website (<a href="http://bmccune.weebly.com/">http://bmccune.weebly.com/</a>)
<p>Bruce McCune is a professor in the <a href="http://bpp.oregonstate.edu/">Department of Botany and Plant Pathology</a> at Oregon State University.</p>
