
	<!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi1.jpg", :alt => "1941/1942 Beaver wrestling champs" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "1941/1942 Beaver wrestling champs", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi2.jpg", :alt => "1961 Adventure Club" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "1961 Adventure Club", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi3.jpg", :alt => "1961 Vital Housing Facts Forum" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "1961 Vital Housing Facts Forum", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi4.jpg", :alt => "Barracks from Japanese American Internment Camp" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Barracks from Japanese American Internment Camp", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi5.jpg", :alt => "Bill Berry addressing Urban League" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Bill Berry addressing Urban League", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi6.jpg", :alt => "Chief Clarence Burke awarding dance prizes" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Chief Clarence Burke awarding dance prizes", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi7.jpg", :alt => "Child on horseback in front of tipi" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Child on horseback in front of tipi", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi8.jpg", :alt => "Clerical Class" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Clerical Class", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/multi9.jpg", :alt => "Hui-O-Hawaii student organization" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Hui-O-Hawaii student organization", '#' %></figcaption>
            </figure>
          </li>
        </ul>

      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

	<p>The Oregon Multicultural Archives Digital Collection consists of images that document the lives and activities of ethnic minorities in Oregon. The images are drawn from the archival collections that form the <a href="http://scarc.library.oregonstate.edu/oma/index.html">Oregon Multicultural Archives</a>.</p>

