
  <!-- Description -->
    <div class="left-image span4">

      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-df71cb82m.jpg", :alt => "2015 Awards Ceremony" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71cb82m" %> 
              <figcaption><%= link_to "2015 Awards Ceremony", "/sets/#{params[:set]}/oregondigital:df71cb82m" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-fx71cb51m.jpg", :alt => "1965 Awards Ceremony" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cb51m" %> 
              <figcaption><%= link_to "1965 Awards Ceremony", "/sets/#{params[:set]}/oregondigital:fx71cb51m" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-df71cb39b.jpg", :alt => "2014 Awards Ceremony" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71cb39b" %> 
              <figcaption><%= link_to "2014 Awards Ceremony", "/sets/#{params[:set]}/oregondigital:df71cb39b" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-df71cb73n.jpg", :alt => "2015 Awards Ceremony" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71cb73n" %> 
              <figcaption><%= link_to "2015 Awards Ceremony", "/sets/#{params[:set]}/oregondigital:df71cb73n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-df71cb314.jpg", :alt => "2014 Awards Ceremony" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71cb314" %> 
              <figcaption><%= link_to "2014 Awards Ceremony", "/sets/#{params[:set]}/oregondigital:df71cb314" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-df71cb136.jpg", :alt => "2013 Awards Ceremony" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71cb136" %> 
              <figcaption><%= link_to "2013 Awards Ceremony", "/sets/#{params[:set]}/oregondigital:df71cb136" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-fx71cb67h.jpg", :alt => "1993 Awards Ceremony" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cb67h" %> 
              <figcaption><%= link_to "1993 Awards Ceremony", "/sets/#{params[:set]}/oregondigital:fx71cb67h" %></figcaption>
            </figure>
          </li>

        </ul>

        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      </div>

    </div>

  </div>

<p>The Oregon Century Farm and Ranch Program was established in 1958 by the Oregon Historical Society, just prior to Oregon’s 1959 statehood centennial, to honor farm and ranch families with century-long connections to the land and to recognize Oregon’s rich agricultural heritage. The program added a sesquicentennial award in 2008 to honor those families with 150 year connections. The program is currently administered by the Oregon Farm Bureau Foundation for Education.</p>

<h3>Collection Notes</h3>

<p>The records of the program, maintained by the Oregon Historical Society through 2005 and by Oregon State University since 2006, contain a treasure trove of historical information about Oregon’s farms and ranches and the families that have worked the land for decades. Documented are successes as well as failures, changes in crops grown and the effects of mechanization. Farms and ranches from all parts of the state are included; thirty-five of Oregon’s thirty-six counties are represented in the program.</p>

<p>This digital collection provides access to the more than 1,200 Century Farm and Ranch program application files, the 36 Sesquicentennial program application files, key administrative records from the program’s early years, and records and photographs of the program’s recent annual awards ceremonies at the Oregon State Fair. The collections digitized for this site are:</p>

<blockquote>
<h4>Oregon Historical Society</h4>
<a href="http://librarycatalog.ohs.org/EOSWebOPAC/OPAC/Details/Record.aspx?BibCode=7303287">Mss 1604 – Century Farm and Ranch Program Records</a>
<h4>Oregon State University Libraries and Press, Special Collections and Archives Research Center</h4>
MSS ORCFRP – Oregon Century Farm and Ranch Program Records
</blockquote>

<p><i>This project was made possible by a grant from the <a href="http://www.oregon.gov/oprd/HCD/OHC/Pages/index.aspx">Oregon Heritage Commission</a> and with support from the <a href="http://osulibrary.oregonstate.edu">Oregon State University Libraries and Press</a>, the <a href="http://oregonfb.org/programs/oregon-agriculture-educational-foundation-oaef/">Oregon Farm Bureau Foundation for Education</a>, and the <a href="http://ohs.org">Oregon Historical Society</a>.</i></p>

<p><%= link_to (image_tag "sets/#{params[:set]}/osu.png", :alt => "Oregon State University"), "http://oregonstate.edu" %></p>

<p><%= link_to (image_tag "sets/#{params[:set]}/ohs.png", :alt => "Oregon Historical Society"), "http://ohs.org/" %></p>

<p><%= link_to (image_tag "sets/#{params[:set]}/ofb-ffe.png", :alt => "Oregon Farm Bureau - Foundation for Education"), "http://oregonfb.org/programs/oregon-agriculture-educational-foundation-oaef/" %></p>
