
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df66tt77g.jpg", :alt => "'Spruce for the air -- fir for the sea' poster" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66tt77g" %>
                    <figcaption><%= link_to "'Spruce for the air -- fir for the sea' poster", "/sets/#{params[:set]}/oregondigital:df66tt77g" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df66tw85k.jpg", :alt => "CCC enrollee Thales Bay of Orin, Illinois, at work on a fire tower" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66tw85k" %>
                    <figcaption><%= link_to "CCC enrollee Thales Bay of Orin, Illinois, at work on a fire tower", "/sets/#{params[:set]}/oregondigital:df66tw85k" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df66tw920.jpg", :alt => "Men fishing at Celilo Falls on the Columbia River" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66tw920" %>
                    <figcaption><%= link_to "Men fishing at Celilo Falls on the Columbia River", "/sets/#{params[:set]}/oregondigital:df66tw920" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df66v289w.jpg", :alt => "Leisure hour in a western logging camp" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66v289w" %>
                    <figcaption><%= link_to "Leisure hour in a western logging camp", "/sets/#{params[:set]}/oregondigital:df66v289w" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df66v5712.jpg", :alt => "McKenzie Bridge Ranger Station" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66v5712" %>
                    <figcaption><%= link_to "McKenzie Bridge Ranger Station", "/sets/#{params[:set]}/oregondigital:df66v5712" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/df66ts689.jpg", :alt => "Looking up Cow Creek Canon" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66ts689" %>
                    <figcaption><%= link_to "Looking up Cow Creek Canon", "/sets/#{params[:set]}/oregondigital:df66ts689" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>In 2007 the OSU Libraries acquired the <a href="http://scarc.library.oregonstate.edu/coll/williamsg/">Gerald W. Williams Collection</a>, consisting of the collected historic photographs, personal papers, and research library of Gerald "Jerry" Williams, former national historian for the U.S. Forest Service. Williams, a native Oregonian, spent much of his Forest Service career in the Pacific Northwest, prior to being appointed national historian in 1998.</p>

<p>This digital collection includes some of the best imagery from the Williams Collection, including photos of the WWI era <a href="http://oregondigital.org/sets/gwilliams?utf8=%E2%9C%93&set=gwilliams&set=gwilliams&search_field=all_fields&q=spruce">Spruce Production Division</a>, logging photos of northwest Oregon taken by John Fletcher Ford, photos of <a href="http://oregondigital.org/sets/gwilliams?utf8=%E2%9C%93&set=gwilliams&search_field=all_fields&q=celilo">Celilo Falls</a> taken in 1956 by Jack Williams, and photos of depression era <a href="http://oregondigital.org/sets/gwilliams?utf8=%E2%9C%93&set=gwilliams&search_field=all_fields&q=Civilian+Conservation+Corps">Civilian Conservation Corps</a> camps and activities. Many of the historic photos are postcards arranged in several geographically based albums. Examples include the Umpqua, Columbia River, and Willamette Valley albums.</p>

<p>Several books from <a href="http://ir.library.oregonstate.edu/dspace/handle/1957/9112">Williams' 3,000 volume research library</a>, many pertaining to natural resources issues, are being made available digitally through ScholarsArchive@OSU.</p>
