
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chinavine1.jpg", :alt => "Mongolian Calligraphy" + ', ' + @set.title), 'https://www.flickr.com/photos/vineonline/14191162430/in/set-72157645069797712' %>
              <figcaption><%= link_to "Mongolian Calligraphy", 'https://www.flickr.com/photos/vineonline/14191162430/in/set-72157645069797712' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chinavine2.jpg", :alt => "Mongolian Morning Sky" + ', ' + @set.title), 'https://www.flickr.com/photos/vineonline/14022951800/in/set-72157644308526348' %>
              <figcaption><%= link_to "Mongolian Morning Sky", 'https://www.flickr.com/photos/vineonline/14022951800/in/set-72157644308526348' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chinavine3.jpg", :alt => "Rao San Ling Festival Goers" + ', ' + @set.title), 'https://www.flickr.com/photos/vineonline/8899778060/in/set-72157633826918843' %>
              <figcaption><%= link_to "Rao San Ling Festival Goers", 'https://www.flickr.com/photos/vineonline/8899778060/in/set-72157633826918843' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chinavine4.jpg", :alt => "Bökh Qin" + ', ' + @set.title), 'https://www.flickr.com/photos/vineonline/8694811304/in/set-72157633383724808' %>
              <figcaption><%= link_to "Bökh Qin", 'https://www.flickr.com/photos/vineonline/8694811304/in/set-72157633383724808' %><!-- &#246; if needed --></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chinavine5.jpg", :alt => "Artist's Table" + ', ' + @set.title), 'https://www.flickr.com/photos/vineonline/7838915346/in/set-72157630855004152' %>
              <figcaption><%= link_to "Artist's Table", 'https://www.flickr.com/photos/vineonline/7838915346/in/set-72157630855004152' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/chinavine6.jpg", :alt => "Girl Hauling Straw on a Bicycle" + ', ' + @set.title), 'https://www.flickr.com/photos/vineonline/5985286319/in/set-72157630530775892' %>
              <figcaption><%= link_to "Girl Hauling Straw on a Bicycle", 'https://www.flickr.com/photos/vineonline/5985286319/in/set-72157630530775892' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>
    <div class="span4">
      <p>ChinaVine’s mission is to educate children, youth, and adults about China’s cultural heritage. This mission is primarily achieved through <a href="http://www.chinavine.org">ChinaVine.org</a> and the ChinaVine Digital Archive (CVDA).  CVDA is a collection of materials interpreting China’s cultural heritage and is largely associated with fieldwork conducted in China by ChinaVine Scholars. This archive supports, and extends, the materials available on <a href="http://www.chinavine.org">ChinaVine.org</a>.</p>

      <p>ChinaVine began with a partnership initiated in 2007 between the University of Oregon (UO), the University of Central Florida (UCF), and Shandong University of Art and Design (SUAD). Subsequent partnerships between the UO, UCF, and Beijing Normal University, East China Normal University, Minzu University, the University of Maine, and other institutions in the People's Republic of China and the United States contribute to the website and this archive. UO Professor Doug Blandy and Professor Emerita Kristin G. Congdon at UCF direct ChinaVine. Development of the archive was overseen by UO Professor John Fenn, Jonathan Lederman (2011-2014) and Bridget Hall (2014-2015), graduate students in the UO Arts and Administration Program, and Karen Estlund, Head of the UO Libraries Digital Scholarship Center.</p>

      <p>ChinaVine would not be possible without institutional support. Over the history of the project the following institutions have provided financial and/or faculty support:</p>
   
      <h3>University of Oregon</h3>
      <p>Arts and Administration Program<br>
      School of Architecture and Allied Arts<br>
      Digital Scholarship Center<br>
      Center for Asian and Pacific Studies<br>
      Confucius Institute<br>
      Jordan Schnitzer Museum of Art<br>
      International Affairs<br>
      Center for Community Arts and Cultural Policy</p>
       
      <h3>University of Central Florida</h3>
      <p>College of Arts and Humanities<br>
      Office of Academic Affairs<br>
      Center for Humanities and Digital Research<br>
      Cultural Heritage Alliance<br>
      Office of Research and Commercialization<br>
      Burnett Honors College<br>
      Learning Institute for Elders (LIFE)<br>
      UCF Library<br>
      Philosophy Department</p>

      <h3>University of Maine</h3>
      <p>The University of Maine Department of Art<br>
      The University of Maine College of Liberal Arts and Sciences<br>
      The University of Maine Office of the Vice President for Research<br>
      The University of Maine Office of the Provost</p>
       
      <h3>Ohio State University</h3>
      <p>Department of Arts Administration, Art Education and Policy</p>
       
      <h3>Shandong University of Art and Design</h3>
      <p>Folk Arts Research Institute</p>
       
      <h3>Rollins College</h3>
      <p>Asian Studies Program</p>
       
      <h3>Minzu University</h3>
      <h3>Beijing Normal University</h3>
      <h3>East China Normal University</h3>
      <h3>Beijing Folk Art and Literature Association</h3>
      <h3>Baltimore Area Schools</h3>
      <h3>China Conservatory of Music</h3>
      <h3>Guizhou Minority Group Consultation</h3>
      <h3>Hong Kong University</h3>
      <h3>University of Arizona</h3>
      <h3>University of Texas at Austin</h3>
      <h3>Towson University</h3>
      <h3>Yunnan University</h3>
      <h3>IRASUS</h3>
    </div>
