<!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/hiroshige.jpg", :alt => "53 Station by Two Brushes, Plate #22, Kunisada and Hiroshige" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "53 Station by Two Brushes, Plate #22, Kunisada and Hiroshige", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/sekino.jpg", :alt => "Bunraku Puppeteer, Jun'Ichiro Sekino" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "Bunraku Puppeteer, Jun'Ichiro Sekino", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/segui.jpg", :alt => "Elefante En Interior, Antonio Segui" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "Elefante En Interior, Antonio Segui", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/sekino1.jpg", :alt => "Nissaka, Jun'Ichiro Sekino" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Nissaka, Jun'Ichiro Sekino", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/soriano.jpg", :alt => "Nacimiento, Juan Soriano" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Nacimiento, Juan Soriano", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/hiratsuka.jpg", :alt => "Talkative, Yuji Hiratsuka" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Talkative, Yuji Hiratsuka", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/weston.jpg", :alt => "Cabbage Leaf, 1931, Edward Weston" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Cabbage Leaf, 1931, Edward Weston", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/hagiwara.jpg", :alt => "Fireworks, Hideo Hagiwara" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Fireworks, Hideo Hagiwara", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/bellorin.jpg", :alt => "Metamorfosis, Jose Francisco Bellorin" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "Metamorfosis, Jose Francisco Bellorin", '#' %></figcaption>
            </figure>
          </li>
        </ul>

      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

	<p>Welcome to the Fairbanks Fine Arts Print Collection website, a collaborative venture of the <a href="http://oregonstate.edu/dept/arts/">Department of Art</a>, <a href="http://oregonstate.edu/fairbanksgallery/">Fairbanks Gallery</a> and the <a href="http://osulibrary.oregonstate.edu">OSU Libraries &amp; Press</a>. The Print Collection is part of the Fine Art Collection, owned by the Department of Art and managed by the Fairbanks Gallery at Oregon State University. Web and software support has been provided by the staff of the Valley Library.</p>

