  <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Lowenstam_VRC_00172.jpg", :alt => "Paris Altemps" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Paris Altemps", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Lowenstam_VRC_00783.jpg", :alt => "Stele with Phiale" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Stele with Phiale", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Lowenstam_VRC_15451.jpg", :alt => "Oracle: triglyph wall of sacred fountain" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Oracle: triglyph wall of sacred fountain", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Lowenstam_VRC_15521.jpg", :alt => 'Theater' + ', ' + @set.title), '#' %>
              <figcaption><%= link_to 'Theater', '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Lowenstam_VRC_00595.jpg", :alt => "Diomedes fights Aineias IL 5.297ff" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Diomedes fights Aineias IL 5.297ff", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>The 35mm slide collection of University of Oregon Classics professor Steven Lowenstam (1945-2003) was compiled over a lifetime of scholarship and inquiry into the visual culture of the Classical world. It is composed primarily of ceramics in European and American museums, architecture and archaeological sites across southern Europe. The collection contains diverse views and details, many of which are unusual or not easily obtained. Information provided about the images is minimal, and assistance from the scholarly community in identifying objects and enriching the metadata will improve usability of the collection.</p>

    <h3>Acknowledgements</h3>

    <p>The <a href="http://library.uoregon.edu/aaa/vrc/">Visual Resources Collection</a> staff wishes to gratefully acknowledge the following departments and individuals for their help and support of this project:</p>

    <ul>
      <li><a href="http://library.uoregon.edu/">UO Libraries</a> </li>
      <li><a href="http://gradschool.uoregon.edu/">UO Graduate School</a></li>
      <li><a href="http://classics.uoregon.edu/">Department of Classics</a> 
        <ul>
          <li>P. Lowell Bowditch, Chair, Department of Classics</li>
          <li>Malcolm Wilson, Professor, Department of Classics</li>
        </ul>
      </li>
      <li><a href="http://arthistory.uoregon.edu/">Department of Art History</a> 
        <ul>
          <li>Jeffrey M. Hurwit, Philip H. Knight Professor of Art History and Classics</li>
          <li>Brooke Masek, MA, Art History, 2011</li>
          <li>Ellen Osterkamp, MA, Art History, 2012 </li>
        </ul>
      </li>
      <li><a href="http://library.uoregon.edu/cmet/image_svcs/">UO Libraries Images Services Center</a> 
        <ul>
          <li>Lesli Larson, Image Services Coordinator</li>
          <li>Meaghan Morawski, Image Services</li>
        </ul>
      </li>
    </ul>
