
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73c2649.jpg", :alt => "Oral History Interview with Lynne Lucas" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73c380w" %>
              <figcaption><%= link_to "Oral History Interview with Lynne Lucas", "/sets/#{params[:set]}/oregondigital:df73c380w" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73c0990.jpg", :alt => "Oral History Interview with Evelyn Anderton" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73c169g" %>
              <figcaption><%= link_to "Oral History Interview with Evelyn Anderton", "/sets/#{params[:set]}/oregondigital:df73c169g" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73c2054.jpg", :alt => "Oral History Inteview with Toby Finkelstein" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73c365s" %>
              <figcaption><%= link_to "Oral History Interview with Toby Finkelstein", "/sets/#{params[:set]}/oregondigital:df73c365s" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital_df73c3149.jpg", :alt => "Oral History Interview with Gail Pyburn" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df73c3972" %>
              <figcaption><%= link_to "Oral History Interview with Gail Pyburn", "/sets/#{params[:set]}/oregondigital:df73c3972" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>In the summer of 2018 Professor Judith Raiskin of the University of Oregon Department of Women's, Gender and Sexuality Studies and Linda Long, Curator of Manuscripts in the University of Oregon Libraries, developed a project to interview members of the longtime lesbian community in Eugene, Oregon. The majority of the video interviews were conducted in the summer of 2018 but several more were conducted later that fall and then subsequently the following year. The interviews were transcribed and the videos were prepared for viewing online. Transcripts were also printed and bound and form one of the two parts of this collection, the other being the videos and scanned transcripts, both of which are available online through this finding aid. The bound transcriptions are available for use in the Special Collections and University Archives' reading room in Knight Library, University of Oregon campus.</p>
