
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/daily-planet.jpg", :alt => "Biweekly Daily Planet, November 1970" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cr157" %>
                    <figcaption><%= link_to "Biweekly Daily Planet, November 1970", "/sets/#{params[:set]}/oregondigital:fx71cr157" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/elan.jpg", :alt => "Élan, 1976" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cp98k" %>
                    <figcaption><%= link_to "Élan, 1976", "/sets/#{params[:set]}/oregondigital:fx71cp98k" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/gad-fly.jpg", :alt => "Gad-Fly, January 1961" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cq62d" %>
                    <figcaption><%= link_to "Gad-Fly, January 1961", "/sets/#{params[:set]}/oregondigital:fx71cq62d" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/oracle.jpg", :alt => "The Oracle, March 1965" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cq57j" %>
                    <figcaption><%= link_to "The Oracle, March 1965", "/sets/#{params[:set]}/oregondigital:fx71cq57j" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/osu-this-weak.jpg", :alt => "OSU This Weak, November 1990" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cr08t" %>
                    <figcaption><%= link_to "OSU This Weak, November 1990", "/sets/#{params[:set]}/oregondigital:fx71cr08t" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/pensee.jpg", :alt => "Pensée, February 1971" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cp92x" %>
                    <figcaption><%= link_to "Pensée, February 1971", "/sets/#{params[:set]}/oregondigital:fx71cp92x" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/scab-sheet.jpg", :alt => "The Scab Sheet, March 1969" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df71gf39g" %>
                    <figcaption><%= link_to "The Scab Sheet, March 1969", "/sets/#{params[:set]}/oregondigital:df71gf39g" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/spark.jpg", :alt => "Spark, circa 1970" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cr03f" %>
                    <figcaption><%= link_to "Spark, circa 1970", "/sets/#{params[:set]}/oregondigital:fx71cr03f" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/underachiever.jpg", :alt => "The Underachiever, August 2002" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71cq258" %>
                    <figcaption><%= link_to "The Underachiever, August 2002", "/sets/#{params[:set]}/oregondigital:fx71cq258" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>The Student Protest and Underground Publications consist of ephemeral publications primarily written and produced by Oregon State University students.  These broadsheets, mimeographed newsletters, and newspapers were intended as alternatives to the mainstream press.  Most of the publications were issued during the period of student unrest in the 1960s and early 1970s.  The predominant topics are civil rights, specifically racial incidents at Oregon State University, and the war in Vietnam.  In keeping with the nature of underground publications, the authors and individuals or organizations responsible for publishing are not identified for many of these materials.</p> 
<p>The set also includes several more recent publications, including the revival of <em>The Scab Sheet</em> in 2017-2018.</p>
<p>The items in this set are part of several archival collections, including the  <a href="http://scarc.library.oregonstate.edu/findingaids/index.php?p=collections/findingaid&id=2997">Underground Newspapers (PUB 013-3)</a>, Student Publications (PUB 010-22), and the <a href="http://scarc.library.oregonstate.edu/findingaids/index.php?p=collections/findingaid&id=2988">Oregon Multicultural Communities Research Collection (MSS OMCRC)</a>.</p>




