<!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb1.jpg", :alt => "Kalmiopsis leachiana" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df6734296" %>
		  	  <figcaption><%= link_to "Kalmiopsis leachiana", "/sets/#{params[:set]}/oregondigital:df6734296" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb2.jpg", :alt => "Acer negundo L. var. negundo" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df65xx082" %>
			  <figcaption><%= link_to "Acer negundo L. var. negundo", "/sets/#{params[:set]}/oregondigital:df65xx082" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb3.jpg", :alt => "Ambrosia artemisiifolia L." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df673457c" %>
			  <figcaption><%= link_to "Ambrosia artemisiifolia L.", "/sets/#{params[:set]}/oregondigital:df673457c" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb4.jpg", :alt => "Polygonum phytolaccifolium Meisn." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df65x1994" %> 
			  <figcaption><%= link_to "Polygonum phytolaccifolium Meisn.", "/sets/#{params[:set]}/oregondigital:df65x1994" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb5.jpg", :alt => "Camassia cusickii S. Watson" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df65wf917" %> 
			  <figcaption><%= link_to "Camassia cusickii S. Watson", "/sets/#{params[:set]}/oregondigital:df65wf917" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb6.jpg", :alt => "Cordylanthus glandulosus Pennell & Clokey" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df65wb76h" %> 
			  <figcaption><%= link_to "Cordylanthus glandulosus Pennell & Clokey", "/sets/#{params[:set]}/oregondigital:df65wb76h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb7.jpg", :alt => "Corydalis aquae-gelidae M. Peck & W.C. Wilson" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df65w369n" %> 
			  <figcaption><%= link_to "Corydalis aquae-gelidae M. Peck & W.C. Wilson", "/sets/#{params[:set]}/oregondigital:df65w369n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb8.jpg", :alt => "Eriogonum microthecum Nutt. var. lapidicola Reveal" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df65wb32f" %> 
		 	  <figcaption><%= link_to "Eriogonum microthecum Nutt. var. lapidicola Reveal", "/sets/#{params[:set]}/oregondigital:df65wb32f" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/herb9.jpg", :alt => "Heuchera richardsonii R. Br. var. hispidior R.B.L." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df65wf71r" %> 
			  <figcaption><%= link_to "Heuchera richardsonii R. Br. var. hispidior R.B.L.", "/sets/#{params[:set]}/oregondigital:df65wf71r" %></figcaption>
            </figure>
          </li>
        </ul>

      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

	<p><strong>Type Specimens and Original Descriptions of Oregon Plants in the Oregon State University Herbarium</strong></p>

	<p>The biological diversity of the Pacific Northwest is well-appreciated by the citizens of the region, and central to our economy and culture. Much less appreciated is the fact that the documentation of this diversity is incomplete and represents an ongoing task. The Oregon State University Herbarium is an essential resource for biodiversity research in the region. With over 400,000 specimens, it maintains the world's largest collection of Oregon plant and fungal specimens. We have imaged the 2000 type specimens in our collection, and digitized the original descriptions (known as protologues) of the 1350 plant taxa represented by these specimens. The type collection is a pressed herbarium specimen upon which the original description was based and thus has central importance in the science of plant taxonomy.</p>
