  <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/KelpMap.jpg", :alt => "Kelp map : Pacific Coast-Oregon : Sheet 25" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Kelp map : Pacific Coast-Oregon : Sheet 25", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oshm1929.jpg", :alt => "State Highway Department's map of the state of Oregon showing main traveled automobile roads, 1929" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "State Highway Department's map of the state of Oregon showing main traveled automobile roads, 1929", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/willametteValley.jpg", :alt => "Oregon Willamette Valley, sheet no. 3" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Oregon Willamette Valley, sheet no. 3", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/estuarymap.jpg", :alt => "Habitat map of the Netarts Estuary" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Habitat map of the Netarts Estuary" '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oshm2005.jpg", :alt => "Oregon, official state map, 2005" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Oregon, official state map, 2005", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Oregon1876.jpg", :alt => "State of Oregon, 1876" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "State of Oregon, 1876", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Maps are some of the most information-rich documents that we use to communicate to each other. They visually represent not only the physical terrain, but also our impact upon it. This online selection of maps from the Oregon State University and University of Oregon libraries' collections are but a small sample of what is available in either library. Please contact your local librarian for more information regarding these treasured Oregon collections. </p>

    <h3>Acknowledgements</h3>

    <p>Thank you to the Oregon State Highway Department for permission to include their maps in this collection.</p>

    <p>This collection was made possible by the hard work of the Oregon State University's Digital Production Unit and University Archives and University of Oregon's Metadata Services &amp; Digital Projects, MAP Library, and Social Sciences/History Librarian.</p>

    <p>Thank you Oregon 150<a href="http://www.oregon150.org"></a> for granting us a partnership in the sesquicentennial celebration!</p>
