  <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "" '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p></p>

    <h3>Acknowledgements</h3>

    <p></p>
