<ul id="pages" class="sidenav">
  <li><a href="<%= "/sets/#{params[:set]}/page/introduction_tribal_legacies" %>">An Introduction to Tribal Legacies</a></li>
  <li><a href="<%= "/sets/#{params[:set]}/page/honoring_tribal_legacies" %>">Honoring Tribal Legacies</a></li>
  <li><a href="<%= "/sets/#{params[:set]}/page/related_resources" %>">Related Resources</a></li>
  <li><a href="<%= "/sets/#{params[:set]}/page/acknowledgements" %>">Acknowledgements</a></li>
  <li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
</ul>
