
    <!-- Description -->
    <div class="left-image span4">      
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/sitinApril1970.jpg", :alt => "Attorney General letter to Clark re: Johnson Hall Sit-In" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66j9168#page/1/mode/1up" %>
              <figcaption><%= link_to "Attorney General letter to Clark re: Johnson Hall Sit-In", "/sets/#{params[:set]}/oregondigital:df66j9168#page/1/mode/1up" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/blackpanthers.jpg", :alt => "Advice of Irregularity Reported by Physical Plant Patrolman" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66j8960#page/1/mode/1up" %>
              <figcaption><%= link_to "Advice of Irregularity Reported by Physical Plant Patrolman", "/sets/#{params[:set]}/oregondigital:df66j8960#page/1/mode/1up" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/statuswomen.jpg", :alt => "Report: The Status of Women at the University of Oregon" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66jn39n" %>
              <figcaption><%= link_to "Report: The Status of Women at the University of Oregon", "/sets/#{params[:set]}/oregondigital:df66jn39n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/weyerhaeuser.jpg", :alt => "News release: Student Conduct re: Weyerhaeuser incident" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66jd05c#page/1/mode/1up" %>
              <figcaption><%= link_to "News release: Student Conduct re: Weyerhaeuser incident", "/sets/#{params[:set]}/oregondigital:df66jd05c#page/1/mode/1up" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/caricature_clark.jpg", :alt => "Caricature drawing of Robert D. Clark" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66j944f#page/1/mode/1up" %>
              <figcaption><%= link_to "Caricature drawing of Robert D. Clark", "/sets/#{params[:set]}/oregondigital:df66j944f#page/1/mode/1up" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/blackstudentunion.jpg", :alt => "Black Student Union Position Paper re: reorganization of E.O.S. programs" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66j926h#page/1/mode/1up" %>
              <figcaption><%= link_to "Black Student Union Position Paper re: reorganization of E.O.S. programs", "/sets/#{params[:set]}/oregondigital:df66j926h#page/1/mode/1up" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>

    </div>
      
    <p>The purpose of this project is to highlight this rich history through selected documents from the Office of the President records and the personal papers of presidents. Students participating in the Honors College colloquium on university history and other presidential history researchers selected some of the documents displayed on the site. Currently those presidencies represented are those currently studied by students at the university. The long-term goal of this collection is to represent all of the presidencies and provide a gateway to further research.</p>

    <h3>Acknowledgements</h3>

    <p>Students participating in the <a href="http://honors.uoregon.edu">Robert D. Clark Honors College</a> colloquium on university history also selected some contextualizing documents for this digital collection.</p>
