
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-2f75r8145.jpg", :alt => " Landscaping plan for the Daylodge at Timberline" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:2f75r8145" %>
              <figcaption><%= link_to " Landscaping plan for the Daylodge at Timberline", "/sets/#{params[:set]}/oregondigital:2f75r8145" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-2f75r8366.jpg", :alt => "Landscaping plan for front of main building, Timberline Lodge" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:2f75r8366" %>
              <figcaption><%= link_to "Landscaping plan for front of main building, Timberline Lodge", "/sets/#{params[:set]}/oregondigital:2f75r8366" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-2f75r8081.jpg", :alt => "Preliminary plan for landscape development, Salishan Lodge" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:2f75r8081" %>
              <figcaption><%= link_to "Preliminary plan for landscape development, Salishan Lodge", "/sets/#{params[:set]}/oregondigital:2f75r8081" %></figcaption>
            </figure>
          </li>

         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>Barbara Bertha Vorse Fealy (1903-2000) was born in Salt Lake City, Utah to Albert Justin and Bettie Vorse. Albert Vorse owned one of Utah’s largest wholesale nurseries, and Barbara grew up assisting with his operation. In 1921, Fealy attended the University of Illinois to study landscape architecture. Fealy ultimately started her own firm in 1929 in Salt Lake City, Utah. In 1947, she moved her firm to Beaverton, Oregon and spent the remainder of her life in the Pacific Northwest producing landscape architectural designs for both private, residential clients and commercial projects.

The Barbara Fealy landscape architectural records include her firm’s architectural drawings, client files, photographs, and notes. Of note include her designs for Salishan Lodge in Gleneden Beach, Oregon for which she received an Honor Award from the American Society of Landscape Architects (ASLA) in 1988. Drawings also include designs for Timberline Lodge (Government Camp, Oregon), the Leach Botanical Garden (Portland, Oregon), and Yurigawa Park (Sapporo, Japan), among many others. A <a href="https://scua.uoregon.edu/repositories/2/resources/2178">full inventory</a> is available. </p>

