
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192011orangeowl.jpg", :alt => "Orange Owl, November 1920" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719s773" %>
              <figcaption><%= link_to "Orange Owl, November 1920", "/sets/#{params[:set]}/oregondigital:fx719s773" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192103orangeowl.jpg", :alt => "Orange Owl, March 1921" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719s67v" %>
              <figcaption><%= link_to "Orange Owl, March 1921", "/sets/#{params[:set]}/oregondigital:fx719s67v" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192202orangeowl.jpg", :alt => "Orange Owl, February 1922" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719t00p" %>
              <figcaption><%= link_to "Orange Owl, February 1922", "/sets/#{params[:set]}/oregondigital:fx719t00p" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192310orangeowl.jpg", :alt => "Orange Owl, October 1923" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719s81p" %>
              <figcaption><%= link_to "Orange Owl, October 1923", "/sets/#{params[:set]}/oregondigital:fx719s81p" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192406orangeowl.jpg", :alt => "Orange Owl, June 1924" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719t052" %>
              <figcaption><%= link_to "Orange Owl, June 1924", "/sets/#{params[:set]}/oregondigital:fx719t052" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192510orangeowl.jpg", :alt => "Orange Owl, October 1925" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719s80d" %>
              <figcaption><%= link_to "Orange Owl, October 1925", "/sets/#{params[:set]}/oregondigital:fx719s80d" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192611orangeowl.jpg", :alt => "Orange Owl, November 1926" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719t08w" %>
              <figcaption><%= link_to "Orange Owl, November 1926", "/sets/#{params[:set]}/oregondigital:fx719t08w" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192705orangeowl.jpg", :alt => "Orange Owl, May 1927" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719s88m" %>
              <figcaption><%= link_to "Orange Owl, May 1927", "/sets/#{params[:set]}/oregondigital:fx719s88m" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/192802orangeowl.jpg", :alt => "Orange Owl, February 1928" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719s89w" %>
              <figcaption><%= link_to "Orange Owl, February 1928", "/sets/#{params[:set]}/oregondigital:fx719s89w" %></figcaption>
            </figure>
          </li>
        </ul>

      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

	<p>The <emph>Orange Owl</emph> was a college humor magazine published from 1920 to 1928 by the Orange Owl Chapter of the Hammer and Coffin National Honorary Society at Oregon Agricultural College (OAC).  The magazine includes humorous and satirical pieces as well as cartoons and pen sketches created by students.   A broad representation of OAC students were involved in writing, editing, and publishing of the magazine.  In the 1926-1927 academic year, more than 40 students contributed materials and more than 35 worked on the managerial and circulation staffs.  According to the 1928 <emph>Beaver</emph> yearbook, “… the <emph>Orange Owl</emph> represents the fun and frolic of the students and shows that college life is more than a wearisome grind.  It might be called the carnival representative of Oregon State”.  This collection includes all 43 issues of the magazine.</p>

	<p>More information about the <emph>Orange Owl</emph> is available in the <a href="http://nwda.orbiscascade.org/ark:/80444/xv50946">guide to the archival collection</a>.</p>
