
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1968-football.jpg", :alt => "Football Media Guide, 1968" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bh574" %>
                    <figcaption><%= link_to "Football Media Guide, 1968", "/sets/#{params[:set]}/oregondigital:fx71bh574" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1984-basketball.jpg", :alt => "Basketball Media Guide, 1984" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bh59p" %>
                    <figcaption><%= link_to "Basketball Media Guide, 1984", "/sets/#{params[:set]}/oregondigital:fx71bh59p" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1999-gymnastics.jpg", :alt => "Gymnastics Media Guide, 1999" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bh67c" %>
                    <figcaption><%= link_to "Gymnastics Media Guide, 1999", "/sets/#{params[:set]}/oregondigital:fx71bh67c" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/2000-softball.jpg", :alt => "Softball Media Guide, 2000" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bh68n" %>
                    <figcaption><%= link_to "Softball Media Guide, 2000", "/sets/#{params[:set]}/oregondigital:fx71bh68n" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/2001-football.jpg", :alt => "Football Media Guide, 2001" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bh70p" %>
                    <figcaption><%= link_to "Football Media Guide, 2001", "/sets/#{params[:set]}/oregondigital:fx71bh70p" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/2007-baseball.jpg", :alt => "Baseball Media Guide, 2007" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx71bh98c" %>
                    <figcaption><%= link_to "Baseball Media Guide, 2007", "/sets/#{params[:set]}/oregondigital:fx71bh98c" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>
<p>The OSU Sports Media Guides, produced by the Intercollegiate Athletics Sports Information Department, consist of annual guides for Oregon State University's intercollegiate sports teams. The guides include information about coaches and players, schedules for the season, results of previous seasons, team and individual records, and other information pertaining to a given sport including facilities. Many of the guides also include photographs of athletes and coaches.</p> 
<p>This online collection includes guides for men's and women's athletics teams. Men's teams include baseball, basketball, football, and track and field. Women's sports include basketball, crew and rowing, gymnastics, softball, track and field, and volleyball. Additional guides will be added regularly, documenting all of the varsity sports supported by OSU beginning in 1938. More information about all of the media guides held by the Special Collections and Archives Research Center is available in <a href="http://scarc.library.oregonstate.edu/findingaids/index.php?p=collections/findingaid&id=1901">this finding aid</a> for the OSU Sports Media Guides.</p>




