
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/jsma1.jpg", :alt => "Woman's Court Coat Detail (made from a semiformal court coat and other fragments)" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df704342v" %>
              <figcaption><%= link_to "Woman's Court Coat", "/sets/#{params[:set]}/oregondigital:df704342v" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/jsma2.jpg", :alt => "The Awakening metal sculpture" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df703w60c" %>
              <figcaption><%= link_to "The Awakening", "/sets/#{params[:set]}/oregondigital:df703w60c" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/jsma3.jpg", :alt => "Pacific Shores serigraph" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df7048214" %>
              <figcaption><%= link_to "Pacific Shores", "/sets/#{params[:set]}/oregondigital:df7048214" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Collaboration between the Jordan Schnitzer Museum of Art and the UO Libraries to display a selection of the Museum's permanent collection. Restricted to UO and OSU. The Museum's public collection is online at: <a href="http://jsmacollection.uoregon.edu">http://jsmacollection.uoregon.edu</a>.</p>
