
    <!-- Description -->
    <div class="left-image span4">

      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Knight_east_foier.jpg", :alt => "Knight Library East Foyer." + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Knight Library East Foyer", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/_MG_8560.jpg", :alt => "Pioneer Mother Statue." + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Pioneer Mother Statue", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/FIG.jpg", :alt => "Freshman Interest Group." + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Freshman Interest Group", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/_MG_2165.jpg", :alt => "Knight Library." + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Knight Library", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Stairwell.jpg", :alt => "Solari Staircase." + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Solari Staircase", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/DSC_0052.jpg", :alt => "UO Science Library." + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "UO Science Library", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
        
    </div>
      
    <p>Online resource of stock photographic images of the people, places, and happenings of the University of Oregon.</p>
