<!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/zs25x8763.jpg", :alt => "OSU Wins National Baseball Championship, 2006" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:zs25x8763' %>
			  <figcaption><%= link_to "OSU Wins National Baseball Championship, 2006", 'http://oregondigital.org/sets/osu-baseball/oregondigital:zs25x8763' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/dz010q28h.jpg", :alt => "OSC vs. Washington, 1948" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:dz010q28h' %>
			  <figcaption><%= link_to "OSC vs. Washington, 1948", 'http://oregondigital.org/sets/osu-baseball/oregondigital:dz010q28h' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/mc87pq52q.jpg", :alt => "Jim Wilson, 1980s" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:mc87pq52q' %>
			  <figcaption><%= link_to "Jim Wilson, 1980s", 'http://oregondigital.org/sets/osu-baseball/oregondigital:mc87pq52q' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/ht24wj48w.jpg", :alt => "Frank Emiel Roelandt, catcher, 1947" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:ht24wj48w' %>
              <figcaption><%= link_to "Frank Emiel Roelandt, catcher, 1947", 'http://oregondigital.org/sets/osu-baseball/oregondigital:ht24wj48w' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/rv042t35f.jpg", :alt => "Jacoby Ellsbury, 2005" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:rv042t35f' %>
              <figcaption><%= link_to "Jacoby Ellsbury, 2005", 'http://oregondigital.org/sets/osu-baseball/oregondigital:rv042t35f' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/k3569460z.jpg", :alt => "Coach Fielder Jones, 1907-1914" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:k3569460z' %>
              <figcaption><%= link_to "Coach Fielder Jones, 1907-1914", 'http://oregondigital.org/sets/osu-baseball/oregondigital:k3569460z' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/0k225b45x.jpg", :alt => "Mitch Canham, 2006" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:0k225b45x' %>
              <figcaption><%= link_to "Mitch Canham, 2006", 'http://oregondigital.org/sets/osu-baseball/oregondigital:0k225b45x' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/v118rd91v.jpg", :alt => "Baseball pitchers, 1949" + ', ' + @set.title), 'http://oregondigital.org/sets/osu-baseball/oregondigital:v118rd91v' %>
              <figcaption><%= link_to "Baseball pitchers, 1949", 'http://oregondigital.org/sets/osu-baseball/oregondigital:v118rd91v' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/pv63g031v.jpg", :alt => "1909 Baseball team" + ', ' + @set.title), 'http://oregondigital.org/catalog/oregondigital:pv63g031v/' %>
			  <figcaption><%= link_to "1909 Baseball team", 'http://oregondigital.org/catalog/oregondigital:pv63g031v/' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>


<h4>100 Years to a National Championship, 1907–2006</h4>

<p>Photographs, video, ephemera, essays and statistics documenting more than 100 years of OSU baseball players, coaches, and teams.</p>
