
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oac-usa.jpg", :alt => "OAC and USA, June 1918" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719w23d" %>
              <figcaption><%= link_to "OAC and USA, June 1918", "/sets/#{params[:set]}/oregondigital:fx719w23d" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/science-for-service.jpg", :alt => "Science for Service, June 1926" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719w25z" %>
              <figcaption><%= link_to "Science for Service, June 1926", "/sets/#{params[:set]}/oregondigital:fx719w25z" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/shall-i-choose-engineering.jpg", :alt => "Shall I Choose Engineering? October 1927" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719w27h" %>
              <figcaption><%= link_to "Shall I Choose Engineering? October 1927", "/sets/#{params[:set]}/oregondigital:fx719w27h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/womans-career.jpg", :alt => "Woman's Career, December 1927" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719w356" %>
              <figcaption><%= link_to "Woman's Career, December 1927", "/sets/#{params[:set]}/oregondigital:fx719w356" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/training-for-farming.jpg", :alt => "Training for Farming, September 1929" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719w30t" %>
              <figcaption><%= link_to "Training for Farming, September 1929", "/sets/#{params[:set]}/oregondigital:fx719w30t" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/what-can-a-woman-do.jpg", :alt => "What Can a Woman Do, August 1930" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:fx719w33n" %>
              <figcaption><%= link_to "What Can a Woman Do, August 1930", "/sets/#{params[:set]}/oregondigital:fx719w33n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
          </li>
        </ul>

      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>The Illustrated Booklets were published by Oregon Agricultural College (OAC) during the 1910s and 1920s to promote and publicize the College to potential students and Oregon residents, and to provide vocational guidance to youth and young adults.  In addition to general information about academic and research programs offered by the College, booklets focusing on agriculture, engineering, music, science, landscape architecture, business, and home economics were produced.  Several booklets also promoted opportunities for women at OAC, and two booklets published during World War I highlighted military training and the roles played by OAC students and faculty in the war effort.  One booklet described campus buildings and facilities as of 1922 and another was dedicated solely to the newly completed Memorial Union.</p>

<p>The booklets include numerous photographs depicting campus buildings and scenes, students in classrooms and laboratories, and student activities. The first bulletin was described as "elegant...handsomely illustrated...[and] beautifully printed."  </p>

<p>This digital collection includes 29 booklets.</p>
