
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/drake1.jpg", :alt => "A smiling woman in Native American attire holds a sleeping baby that is secured in a cradleboard." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:1n79h499c" %>
              <figcaption><%= link_to "Woman and Baby", "/sets/#{params[:set]}/oregondigital:1n79h499c" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/drake2.jpg", :alt => "Two boys in soap box cars race down a street." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:hx11xf95h" %>
              <figcaption><%= link_to "Soap Box Cars", "/sets/#{params[:set]}/oregondigital:hx11xf95h" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/drake3.jpg", :alt => "An outdoor portrait of a man, identified as John War Eagle, dressed in Native American regalia." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:j098zb13j" %>
              <figcaption><%= link_to "John War Eagle", "/sets/#{params[:set]}/oregondigital:j098zb13j" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Lee D. Drake (1882&ndash;1957) was a newspaper owner and civic booster in Pendleton and Astoria, Oregon. The collection includes Drake's amateur work and that of professional photographers from the Pendleton region, capturing images of the Pendleton Round-up, tribal peoples of the region, and Drake friends and family.</p>

    <p>Donated by James Robert Drake, son of the collector, in 1958.</p>
