
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/album1.jpg", :alt => "Panoramic view of Portland, Oregon, displaying the Pioneer Courthouse" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66xf003" %>
              <figcaption><%= link_to "Panoramic View of Portland, Oregon, Displaying the Pioneer Courthouse", "/sets/#{params[:set]}/oregondigital:df66xf003" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/album2.jpg", :alt => "Panoramic view of Portland, Oregon" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66xd84x" %>
              <figcaption><%= link_to "Panoramic View of Portland, Oregon", "/sets/#{params[:set]}/oregondigital:df66xd84x" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/album3.jpg", :alt => "Mrs. Florence Hartshorm on Horseback" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66xd899" %>
              <figcaption><%= link_to "Mrs. Florence Hartshorm on Horseback", "/sets/#{params[:set]}/oregondigital:df66xd899" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>The Album collection contains approximately 50 albums from many separate donations. The albums themselves were created by individuals during the different time periods of each album. Highlights of this collection include albums of early Sutherlin, Oregon; construction of the Westover Terrace in Portland, Oregon; construction of the Bonneville dam on the Columbia River; and views of early (late 1800's) London and Peking.</p>
