
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/yeon1@2x.jpg", :alt => "House and Garden Plan" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df729x63q" %>
              <figcaption><%= link_to "House Plan", "/sets/#{params[:set]}/oregondigital:df729x63q" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/yeon2@2x.jpg", :alt => "Section Sketch of House" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df729x993" %>
              <figcaption><%= link_to "House Sections", "/sets/#{params[:set]}/oregondigital:df729x993" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/yeon3@2x.jpg", :alt => "Isometric Drawing in Pencil of Lodge" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df729z272" %>
              <figcaption><%= link_to "Isometric Lodge", "/sets/#{params[:set]}/oregondigital:df729z272" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>
    <div class="span4">
      <p>John Yeon (1910&ndash;1994) was an Oregon architect, landscape architect, and conservationist best known for his role in developing the Northwest regional architectural style. The collection consists of architectural drawings for projects, both built and unrealized, including plans, sections, elevations, details, tracings, and blueprints, as well as a number of Northwest maps, aerial photographs, and surveys for both architectural and preservation projects managed by the architect.</p>
    </div>
