
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gb-warner-papers-ua0221.jpg", :alt => "Newspaper Notice of Bequeath" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Notice of Bequeath", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gb-warner-papers-ua0222.jpg", :alt => "Social Registry Cover" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Social Registry", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gb-warner-papers-ua0223.jpg", :alt => "Correspondence Sample" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Correspondence Sample", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gb-warner-papers-ua0224.jpg", :alt => "Acceptance Letter from Smithsonian Institution" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Smithsonian Acceptance", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/gb-warner-papers-ua0225.jpg", :alt => "Advertisement for Kimono Sales" + ', ' + @set.title), "/sets/#{params[:set]}/" %>
              <figcaption><%= link_to "Kimono Advertisement", "/sets/#{params[:set]}/" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Gertrude Bass Warner was born May 14, 1863 in Chicago, Illinois to prosperous parents. In 1904 she accompanied her journalist brother, John Foster Bass, to Japan during the Russo-Japanese war. Warner traveled Asia, exploring China, Japan, Korea and Cambodia while based in Shanghai. Following the death of her husband Murray Warner in 1920, Mrs. Warner moved to Eugene, Oregon to live near her son Sam Bass Warner, a professor of law at the University of Oregon. For the next thirty-one years, she worked to build a campus museum that would house the extensive collection of Asian art she brought back from her travels and managed the UO Museum of Fine Arts through the Great Depression. In addition, Mrs. Warner helped establish one of the first Asian studies departments at the University while continuing to travel and collect.</p>

    <p>The Gertrude Bass Warner papers, 1879&ndash;1954, consist of correspondence, business records, photographs, and an unpublished manuscript relating to her interest in Asian culture and her work promoting international understanding through art. The collection documents her family history, her involvement with organizations devoted to improving international relations with Asia, her major accomplishments, and her work at the University of Oregon. The complementary <a href="http://oregondigital.org/sets/gbwarnerpapers">Gertrude Bass Warner papers, 1909&ndash;1923</a> contains documents relating to the years she lived in China with her husband Murray Warner.</p>
