
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/sheldon1.jpg", :alt => "Typewritten correspondence between Tiptree and Russ" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724p136" %>
              <figcaption><%= link_to "From Joanna", "/sets/#{params[:set]}/oregondigital:df724p136" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/sheldon2.jpg", :alt => "Typewritten correspondence between Tiptree and Russ" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724p06s" %>
              <figcaption><%= link_to "From Tiptree", "/sets/#{params[:set]}/oregondigital:df724p06s" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/sheldon3.jpg", :alt => "Postcard detail with handwritten commentary" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df724p33p" %>
              <figcaption><%= link_to "Postcard Commentary", "/sets/#{params[:set]}/oregondigital:df724p33p" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Alice B. Sheldon, pen name James Tiptree, Jr. (1915&ndash;1987), was a much acclaimed science fiction author, publishing from 1968 to 1987. She was also briefly a painter, an art reviewer for the Chicago Sun, a chicken farmer, and a CIA analyst. Alice earned her Ph.D. in experimental psychology, focusing on novelty and visual perception, from George Washington University in 1967. She started writing science fiction as a graduate student, and began sending her work out to publishers in 1967 using the pen name James Tiptree, Jr. to protect her reputation as a scientist and academic. In 1976, her identity was discovered, and made widely public in 1977.</p>

    <p>Alice B. Sheldon&rsquo;s life spanned several divergent careers and interests, culminating in her wide success as a feminist science fiction writer. The Alice B. Sheldon papers contain diaries; artwork; unpublished poetry, short stories and her manuscript &ldquo;The Psychology of Value in the Graphic Arts&rdquo;; documents relating to her military and CIA service; notes from her academic career; Tiptree&rsquo;s science fiction manuscripts; and correspondence with her parents and other writers. A <a href="http://archiveswest.orbiscascade.org/ark:/80444/xv02319/">full inventory</a> is available.</p>
