
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/palmer1.jpg", :alt => "Card Photograph of Joel Palmer" + ', ' + @set.title), 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr59v' %>
              <figcaption><%= link_to "Card Photograph of Joel Palmer", 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr59v' %></figcaption>
            </figure>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/palmer2.jpg", :alt => "Lithograph of U.S. Flag Buoy" + ', ' + @set.title), 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr41d
' %>
              <figcaption><%= link_to "Lithograph of U.S. Flag Buoy", 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr41d
' %></figcaption>
            </figure>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/palmer3.jpg", :alt => "Walnut Tree Planted by Sarah Ann Palmer" + ', ' + @set.title), 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr579' %>
              <figcaption><%= link_to "Walnut Tree Planted by Sarah Ann Palmer", 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr579' %></figcaption>
            </figure>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/palmer4.jpg", :alt => "Card Photograph of Rev. Mr. Waler" + ', ' + @set.title), 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr15s' %>
              <figcaption><%= link_to "Card Photograph of Rev. Mr. Waler", 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70hr15s' %></figcaption>
            </figure>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/palmer5.jpg", :alt => "Invitation to Joel Palmer" + ', ' + @set.title), 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70jd610#page/1/mode/1up' %>
              <figcaption><%= link_to "Invitation to Joel Palmer", 'http://oregondigital.library.oregonstate.edu/catalog/oregondigital:df70jd610#page/1/mode/1up' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Joel Palmer (1810&ndash;1881) began his political career in Indiana, where he served as a state legislator before moving to Oregon in 1847. Shortly after his arrival, Palmer became Superintendent of Indian Affairs for the Oregon Territory, a post he held until 1857. He also served as an Oregon state representative and senator, and was a losing candidate in the 1870 governor&#8217;s race. The Joel Palmer papers digital collection combines items from the <a href="http://archiveswest.orbiscascade.org/ark:/80444/xv32992">University of Oregon Special Collections and University Archives&#8217; Joel Palmer Papers (1851&ndash;1879)</a> and the <a href="http://archiveswest.orbiscascade.org/ark:/80444/xv29082">Oregon Historical Society&#8217;s Joel Palmer Papers (1783&ndash;1982)</a>. The collection includes correspondence; official records of the Oregon Superintendency and U.S. Office of Indian Affairs, including documents relating to the Siletz Indian Reservation; photographs; typescript copies of diaries, including travel diaries for trips throughout the northwestern United States; letters sent to Palmer&#8217;s wife, Sarah Ann Derbyshire Palmer; and letters from Palmer&#8217;s descendants. The collection also includes the 1847 publication of Palmer&#8217;s <em>Journal of Travels over the Rocky Mountains</em>, an account of his 1845 journey to Oregon.</p>
