
<!-- Description -->
<div class="left-image span4">
    <div class="blueberry">
        <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
        <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1900006030.jpg", :alt => "Dress ensemble of grey and white pinstripe silk taffeta trimmed in pleated ivory organdy with black crocheted lace overlay" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df713426n" %>
                    <figcaption><%= link_to "Dress ensemble of grey and white pinstripe silk taffeta trimmed in pleated ivory organdy with black crocheted lace overlay", "/sets/#{params[:set]}/oregondigital:df713426n" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/0000012030.jpg", :alt => "Children's boots of red satin embroidered with flowers in satin stitch in blues and white" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df713476v" %>
                    <figcaption><%= link_to "Children's boots of red satin embroidered with flowers in satin stitch in blues and white", "/sets/#{params[:set]}/oregondigital:df713476v" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1900004041.jpg", :alt => "Calot hat of ecru horsehair with a spiral at the crown of braided trim" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df713332k" %>
                    <figcaption><%= link_to "Calot hat of ecru horsehair with a spiral at the crown of braided trim", "/sets/#{params[:set]}/oregondigital:df713332k" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1978002003.jpg", :alt => "Hat of black straw with shallow crown and small front brim accented with yellow artificial flowers encased in tulle veil" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df7135320" %>
                    <figcaption><%= link_to "Hat of black straw with shallow crown and small front brim accented with yellow artificial flowers encased in tulle veil", "/sets/#{params[:set]}/oregondigital:df7135320" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1991005018.jpg", :alt => "Slip-on shoes of orange silk heavily embroidered with metal coil, sequins, and mirrors in a flower and leaf design" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df713372j" %>
                    <figcaption><%= link_to "Slip-on shoes of orange silk heavily embroidered with metal coil, sequins, and mirrors in a flower and leaf design", "/sets/#{params[:set]}/oregondigital:df713372j" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1965001001.jpg", :alt => "Thob Al Malak of red, saffron, and black vertical striped broadcloth with embroidery of silk couched with metallic threads" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df7133743" %>
                    <figcaption><%= link_to "Thob Al Malak of red, saffron, and black vertical striped broadcloth with embroidery of silk couched with metallic threads", "/sets/#{params[:set]}/oregondigital:df7133743" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/pre-columbian.jpg", :alt => "" + ', ' + @set.title), "#" %>
                    <figcaption><%= link_to "", "#" %></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <%= link_to (image_tag "sets/#{params[:set]}/1985005021.jpg", :alt => "" + ', ' + @set.title), "#" %>
                    <figcaption><%= link_to "", "#" %></figcaption>
                </figure>
            </li>
        </ul>
        
        <!-- Optional -->
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
    </div>
</div>

<p>The Historic and Cultural Textile and Apparel Collection is housed in Milam Hall in the <a href="http://business.oregonstate.edu/">College of Business at OSU</a>. The collection started when professors began bringing in artifacts of their own to use in class instruction and display. Their contributions created the foundation for the collection in the early 1930s. However, it really began to take shape as a formal collection in the late 1940s when students and scholars took notice of its value and put their efforts into cataloging and preservation. In the years since, collectors and donors have worked to fill in gaps in the collection, creating a cohesive array of artifacts.</p>

<p>Design elements and textural fabric varieties are a key focus of the collection, which consists of Euro-American and non-Western apparel and textiles. Textiles include fabric samples, tapestry fragments, and accessories from many cultures.</p>

<p>The Euro-American clothing collection spans the 19th and 20th centuries. The non-Western artifacts include objects from the 15th, 17th, and 18th century, and some pre-Columbian pieces.</p>

<p>The collection is a scholarly resource dedicated to the preservation, documentation, and interpretation of apparel and textile material culture and contributes to the outreach missions of the College of Business Design Programs by providing an educational resource and creative inspiration for students, researchers, and the general public.</p>
