
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51vs898.jpg", :alt => "alt_title" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51vs898" %>
              <figcaption><%= link_to "Spring 2021", "/sets/#{params[:set]}/oregondigital:zk51vs898" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51vs95d.jpg", :alt => "Indigenous water protectors" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51vs95d" %>
              <figcaption><%= link_to "Indigenous water protectors", "/sets/#{params[:set]}/oregondigital:zk51vs95d" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51vs97z.jpg", :alt => "Dakota Access Pipeline protests" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51vs97z" %>
              <figcaption><%= link_to "Dakota Access Pipeline protests", "/sets/#{params[:set]}/oregondigital:zk51vs97z" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51vs987.jpg", :alt => "Indigenous child on concrete road barrier" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51vs987" %>
              <figcaption><%= link_to "Indigenous child on concrete road barrier", "/sets/#{params[:set]}/oregondigital:zk51vs987" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51vs901.jpg", :alt => "Indigenous water protectors" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51vs901" %>
              <figcaption><%= link_to "Indigenous water protectors", "/sets/#{params[:set]}/oregondigital:zk51vs901" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51vs944.jpg", :alt => "Dakota Access Pipeline protest camp [007]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51vs944" %>
              <figcaption><%= link_to "Dakota Access Pipeline protest camp [007]", "/sets/#{params[:set]}/oregondigital:zk51vs944" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>Pamela J. Peters is a Diné multimedia artist specializing in filmmaking, photography, and multimedia documentaries. Now living in Los Angeles California, Peters was born in Shiprock, New Mexico on the Navajo (Diné) Nation. She uses her Diné first clan, Tátchii’nii clan (Red Running into the Water) to identify her photography work.</p>
<p>This collection contains 27 documentary photographic prints taken during the 2016 protests of the Dakota Access Pipeline (DAPL) construction across the northern United States. Approved construction for DAPL resulted in the pipeline running through the Standing Rock Reservation of the Great Sioux Nation (Očhéthi Šakówiŋ), a Native American reservation located across the North and South Dakota borders.</p>
<p>In response to the DAPL project’s threats to local water supplies and sacred sites, water protectors from the Standing Rock Sioux tribe were joined in protest by other Native and non-Native allies. Peters’ photos show grassroots opposition and signs of dissent placed on Standing Rock Reservation land where the DAPL was approved for construction. In doing so, her work captures images of water protectors defending the Sioux Nation’s water rights and Indigenous sovereignty through protest.</p>
<p>Peters’ defines her multimedia work as “Indigenous Realism,” using a socially conscious approach to explore, reimagine, and present the diverse lives of contemporary Native Americans/American Indians. Through incorporating the unique historical experiences of American Indians and sovereign Indian nations, Peters’ aim is to disrupt clichéd portrayals and redefine views of Indian life and tribal identity in the mainstream media.</p>

