
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/construction_interstate_bridge.jpg", :alt => "Construction of fill for Interstate Bridge, Portland, Angelus Studio Collections" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Construction of fill for Interstate Bridge, Portland, Angelus Studio Collections", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/view_of_multnomah_falls.jpg", :alt => "View of Multnomah Falls, Angelus Studio Collections" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "View of Multnomah Falls, Angelus Studio Collections", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/bonneville_dam.jpg", :alt => "Bonneville Dam: 1939 Aerial Photographs, Map & Aerial Photography Collection" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Bonneville Dam: 1939 Aerial Photographs, Map & Aerial Photography Collection", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/pulling_columbias_teeth.jpg", :alt => "Pulling the Columbia's Teeth, Woehlke, Walter V., Harper's Weekly v. 55 (August 19, 1911) p. 8." + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Pulling the Columbia's Teeth, Woehlke, Walter V., Harper's Weekly", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/ice_blockade.jpg", :alt => "Ice blockade, Columbia River. Arlington, Ore. Jan. 19, 1909, Print Collection" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Ice blockade, Columbia River. Arlington, Ore. Jan. 19, 1909, Print Collection", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH037_0944.jpg", :alt => "View looking west from Angel's Rest, Angelus Studio Collections" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "View looking west from Angel's Rest, Angelus Studio Collections", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/annual_reports.jpg", :alt => "Annual Reports of the War Department for the Fiscal Year Ended June 30, 1899, Document Center" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Annual Reports of the War Department for the Fiscal Year Ended June 30, 1899, Document Center", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/skulls_on_wooden_burial.jpg", :alt => "Skulls on wooden burial structure at top of Memaloose Island, Columbia River, Angelus Studio Collections" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Skulls on wooden burial structure at top of Memaloose Island, Columbia River, Angelus Studio Collections", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/stupendous_lograft.jpg", :alt => "Stupendous Log-Raft, containing millions of feet, Print Collection" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Stupendous Log-Raft, containing millions of feet, Print Collection", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
      
    </div>
    
    <p>The Western Waters Digital Library: Columbia River Basin in Oregon is a collection of historical and contemporary resources focused on the Columbia River Basin. Its objective is to provide access to well-organized, comprehensive information sources and analysis based on high quality research and accurate historical records, with the goal of enabling westerners to meet the challenge of managing their water resources wisely in the 21st century.</p>

    <h3>Acknowledgements</h3>

    <p>University of Oregon's participation in the <a href="http://westernwater.org">Western Waters Digital Library (WWDL)</a> project was led by the <a href="http://sites.google.com/a/gwla.org/greater-western-library-alliance/Home">Greater Western Library Alliance</a> <a href="http://sites.google.com/a/gwla.org/greater-western-library-alliance/Home">(GWLA)</a> and funded in 2003 with a two-year National Leadership Grant from the <a href="http://www.imls.gov/">Institute of Museum and Library Services (IMLS)</a>.</p>
