
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w8415.jpg", :alt => "George Floyd riots [019]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w8415" %>
              <figcaption><%= link_to "George Floyd riots [019]", "/sets/#{params[:set]}/oregondigital:zk51w8415" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w843q.jpg", :alt => "George Floyd riots [024]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w843q" %>
              <figcaption><%= link_to "George Floyd riots [024]", "/sets/#{params[:set]}/oregondigital:zk51w843q" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w803r.jpg", :alt => "Black Lives Matter protest black and white photographs [010]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w803r" %>
              <figcaption><%= link_to "Black Lives Matter protest black and white photographs [010]", "/sets/#{params[:set]}/oregondigital:zk51w803r" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w8237.jpg", :alt => "Black Unity protest, 2020 September 06 [005]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w8237" %>
              <figcaption><%= link_to "Black Unity protest, 2020 September 06 [005]", "/sets/#{params[:set]}/oregondigital:zk51w8237" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/oregondigital-zk51w828m.jpg", :alt => "Black Unity protest, 2020 October 29 [007]" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:zk51w828m" %>
              <figcaption><%= link_to "Black Unity protest, 2020 October 29 [007]", "/sets/#{params[:set]}/oregondigital:zk51w828m" %></figcaption>
            </figure>
          </li>
         </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

<p>John Adair (b.1990- ) is a photographer and visual storyteller. He received a Black Lives Matter Artist Award for his 2021 project BLKGLD, a series of black and white portraits of his family members, which was featured at the Jordan Schnitzer Museum of Art. Among photo series projects including “Scars” and “The Hunt,” he has also created photo documentaries such as “Trucker Diaries,” which features documentary photography of Adair’s journey as a truck driver.</p>
<p>This collection (2020-2021) consists of 169 documentary photographs taken during the 2020-2021 Black Lives Matter (BLM) protests and marches in Eugene, Oregon. Protests began in Minneapolis, Minnesota on May 26, 2020 following the murder of George Floyd, a 46-year-old African American man, during an arrest by former police officer, Derek Chauvin. During the arrest, Chauvin knelt on Floyd's neck for 9 minutes and 29 seconds as three other officers looked on and prevented passers-by from intervening.</p>
<p>Civil unrest and protests quickly emerged as part of international reactions to police brutality and racism. An estimated 15 to 26 million people across 2,000 cities and towns in over 60 countries participated in demonstrations to support the BLM movement. As of 2021, the George Floyd protests are the largest in U.S. history.</p>
<p>Adair’s photographs show local BLM protest and march participants in Eugene, Oregon. Subjects of images include march leaders, protestors, protest signs, and counter-protestors. Some series include confrontations with counter-protestors, including counter-protestors from the Blue Lives Matter countermovement and supporters of former president Donald Trump.</p>
