  <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream1.jpg", :alt => "Eagle Creek falls" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "Eagle Creek falls", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream2.jpg", :alt => "Dry fish ladder" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "Dry fish ladder", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream3.jpg", :alt => "East fishway and collecting pool" + ', ' + @set.title), '#' %>
			  <figcaption><%= link_to "East fishway and collecting pool", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream4.jpg", :alt => "Falls above Cherry Grove" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Falls above Cherry Grove", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream5.jpg", :alt => "Falls on Little North Fork" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Falls on Little North Fork", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream6.jpg", :alt => "Fish sliding into tank" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Fish sliding into tank", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream7.jpg", :alt => "Fish truck at Lake Wenatchee" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Fish truck at Lake Wenatchee", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream8.jpg", :alt => "Fishing boats" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Fishing boats", '#' %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
			  <%= link_to (image_tag "sets/#{params[:set]}/stream9.jpg", :alt => "Loading gill nets into a boat in Ilwaco" + ', ' + @set.title), '#' %> 
			  <figcaption><%= link_to "Loading gill nets into a boat in Ilwaco", '#' %></figcaption>
            </figure>
          </li>
        </ul>

      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

  <p>This collection comprises 1000+ photographs taken between 1934 and 1945 by the U.S. Department of Commerce Bureau of Fisheries. The researchers who took these photos inventoried Spring Chinook Salmon spawning and rearing habitat in 390 Columbia River Basin streams.</p>

