
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_07_0758.jpg", :alt => "Isaac Davis, broom maker, Berea, Kentucky, n.d., Doris Ulmann Collection, PH038-07-0758" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66wt72f" %>
              <figcaption><%= link_to "Isaac Davis, Broom Maker", "/sets/#{params[:set]}/oregondigital:df66wt72f" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_14_1678.jpg", :alt => "Man with beard, Berea, Kentucky, pre 1931, Doris Ulmann Collection, PH038-14-1678" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66x539n" %>
              <figcaption><%= link_to "Man with Beard, Berea, Kentucky", "/sets/#{params[:set]}/oregondigital:df66x539n" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_06_0708.jpg", :alt => "Alice Kate Douglass, Berea, Kentucky, n.d., Doris Ulmann Collection, PH038-06-0708" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66wt14j" %>
              <figcaption><%= link_to "Alice Kate Douglass", "/sets/#{params[:set]}/oregondigital:df66wt14j" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_03_0341.jpg", :alt => "Sarah Blonding, Dean of Women, University of Kentucky, reclining, Lexington, Kentucky, n.d., Doris Ulmann Collection, PH038-03-0341" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66wp45q" %>
              <figcaption><%= link_to "Sarah Blonding, Dean of Women, University of Kentucky", "/sets/#{params[:set]}/oregondigital:df66wp45q" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_12_1400.jpg", :alt => "Woman, wearing bonnet and glasses, with hoe, Berea, Kentucky, pre 1931, Doris Ulmann Collection, PH038-12-1400" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66x252k" %>
              <figcaption><%= link_to "Woman with Hoe, Berea, Kentucky", "/sets/#{params[:set]}/oregondigital:df66x252k" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_01_0112.jpg", :alt => "Ashford Kennedy, African-American janitor, Union Church, Berea Kentucky, n.d., Doris Ulmann Collection, PH038-01-0112" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66wz290" %>
              <figcaption><%= link_to "Ashford Kennedy, African-American Janitor", "/sets/#{params[:set]}/oregondigital:df66wz290" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_10_1169.jpg", :alt => "Bristol Taylor, dulcimer maker, farmer, poet, Berea, Kentucky, n.d., Doris Ulmann Collection, PH038-10-1169" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66x008m" %>
              <figcaption><%= link_to "Bristol Taylor, Dulcimer Maker", "/sets/#{params[:set]}/oregondigital:df66x008m" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_13_1616.jpg", :alt => "African-American Woman with White Kerchief, Berea, Kentucky, pre 1931, Doris Ulmann Collection, PH038-13-1616" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66x472g" %>
              <figcaption><%= link_to "African-American Woman with White Kerchief", "/sets/#{params[:set]}/oregondigital:df66x472g" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH038_13_1608.jpg", :alt => "African-American woman in big straw hat, holding basket of flowers, Berea, Kentucky, pre 1931, Doris Ulmann Collection, PH038-13-1608" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66x463h" %>
              <figcaption><%= link_to "African-American Woman in Big Straw Hat", "/sets/#{params[:set]}/oregondigital:df66x463h" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Trained as a pictorialist by Clarence White, Doris Ulmann's early work includes a series of photograph portraits of prominent intellectuals, artists and writers: William Butler Yeats, John Dewey, Max Eastman, Sinclair Lewis, Lewis Mumford, Joseph Wood Krutch, Martha Graham, Anna Pavlova, Paul Robeson, and Lillian Gish. In 1932 Ulmann began her most important series, assembling documentation of Appalachian folk arts and crafts for Allen Eaton's 1937 book, Handicrafts of the Southern Highlands. From 1927, Ulmann was assisted on her rural travels by John Jacob Niles, a musician and folklorist who collected ballads while Ulmann photographed. Doris Ulmann died August 28, 1934.</p>

    <blockquote>&ldquo;I am not interested exclusively in literary faces, because I have been more deeply moved by some of my mountaineers than by any literary person, distinguished as he may be. A face that has the marks of having lived intensely, that expresses some phase of life, some dominant quality or intellectual power, constitute for me an interesting face. For this reason, the face of an older person, perhaps not beautiful in the strictest sense, is usually more appealing than the face of a younger person who has scarely been touched by life.&rdquo;<br>-Doris Ulmann, 1930</blockquote>
